<a href="https://colab.research.google.com/github/Utkarshmishra2k2/Python-Basics/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Lecture="Varanasi"

In [ ]:
print(Lecture)

Varanasi

In [ ]:
print(type(Lecture))

<class 'str'>

In [ ]:
print(id(Lecture))

140314911535472

In [ ]:
Lecture01="Varanasi"
print(id(Lecture01))

140314911535472

In [ ]:
print("I am Studying In "+Lecture)

I am Studying In Varanasi

In [ ]:
Sleep=input("How Many Hour You Sleep in A 24 Hours: ")

How Many Hour You Sleep in A 24 Hours: 8

In [ ]:
print(Sleep,type(Sleep),id(Sleep))

8 <class 'str'> 140315316019952

In [ ]:
Sleep01=int(Sleep)*365
print(Sleep01,type(Sleep01))

2920 <class 'int'>

In [ ]:
Sleep02=str(Sleep01)

In [ ]:
print("You Sleep "+Sleep02+" Hours In Years")

You Sleep 2920 Hours In Years

In [ ]:
Sleep03=str(Sleep01/12)
print("You Sleep "+Sleep03+" Hours In Months")

You Sleep 243.33333333333334 Hours In Months

In [ ]:
Sleep04=input("How Many Hour You Sleep in A 24 Hours: ")
Sleep05=int(Sleep04)*365

How Many Hour You Sleep in A 24 Hours: 8

In [ ]:
Sleep06=float(Sleep04)*365 
print("You Sleep "+str(Sleep06)+" Hours In Years")

You Sleep 2920.0 Hours In Years

In [ ]:
String01="I am Utkarsh Mishra"
print(String01,type(String01),id(String01))

I am Utkarsh Mishra <class 'str'> 140314911592160

In [ ]:
String01.find("Mishra")

13

In [ ]:
String01.replace("Utkarsh","Manglam")

'I am Manglam Mishra'

In [ ]:
String01.find("Shukla")

-1

In [ ]:
Sleep06=int(input("Please Enter Your Sleeping Hour: "))

Please Enter Your Sleeping Hour: 8

In [ ]:
if Sleep06>5:
  print("Your Sleep Is Healthy")
else:
  print("Your Sleep Is Not Healthy")

Your Sleep Is Healthy

Multiplication Code

In [ ]:
StartValue=int(input("Please Enter Starting Value: "))
WhichMultiple=int(input("Please Enter Till Which Multiple You Need: "))
EndValue=(WhichMultiple*StartValue)+StartValue

for U in range(StartValue,EndValue,StartValue):
    print(StartValue ,"*" ,range(StartValue,EndValue) ,"=" ,U)

Please Enter Starting Value: 5
Please Enter Till Which Multiple You Need: 2
5 * range(5, 15) = 5
5 * range(5, 15) = 10

Fibonacci Number Problem

In [ ]:
#1st Way
FirstValue=int(input("Please Enter a 1st Number: "))
SecondValue=int(input("Plase Enter a 2nd Number: "))
print(FirstValue)
print(SecondValue)
for Fibonacci in range(10):
    U=FirstValue+SecondValue
    FirstValue=SecondValue
    SecondValue=U
    print(U)

Please Enter a 1st Number: 2
Plase Enter a 2nd Number: 2
2
2
4
6
10
16
26
42
68
110
178
288

In [ ]:
#2nd Way
print(FirstValue)
print(SecondValue)
i=2
while SecondValue < 20:
    U=FirstValue+SecondValue
    i=i+1
    FirstValue=SecondValue
    SecondValue=U
    print(U)

print("You Have Printed ",i,"Numbers")

178
288
You Have Printed  2 Numbers

Defining Function

In [ ]:
def Fibonacci(Position):
    A=1
    B=1
    for i in range(Position):
        Tempory=A+B
        A=B
        B=Tempory
    return Tempory

In [ ]:
Fibonacci(5),Fibonacci(6)

(13, 21)

In [ ]:
def Fibonacci01(Position,A=1,B=2):
      for i in range(Position):
        Tempory=A+B
        A=B
        B=Tempory
      return Tempory

In [ ]:
Fibonacci01(5)

21

Conditional Statement {if ... else}

In [ ]:
YourWaight=int(input("Please Enter Your Weight: "))
UnitForHeight=str(input('Which Unit Would You Perffer("F"=Feet & Inches:"M"=Meters): '))
if UnitForHeight =="F":
    YourHeightFeets=int(input("Please Enter Your Height(Feets): "))
    YourHeightInches=int(input("Please Enter Your Height(Inches): "))
    YourHeightMeters=int((YourHeightFeets+ YourHeightInches/12)*0.3048)
else:
    YourHeightMeters=int(input("please Enter Your Height(Meters): "))

YourHeight=YourHeightMeters
BMI=YourWaight/YourHeight**2
print("Your BMI Is ",BMI)

if BMI < 18.5:
    print("You Are UnderWeight")
elif BMI>=18.5 and BMI<=25:
    print("You Have Normal Weight")
elif BMI >25:
    print("You Are Over Weight")

Please Enter Your Weight: 2
Which Unit Would You Perffer("F"=Feet & Inches:"M"=Meters): 2
please Enter Your Height(Meters): 635
Your BMI Is  4.96000992001984e-06
You Are UnderWeight

In [ ]:
def fibonacci(n,a=1,b=3):
    """Code To Compute nth Fibonacci Sequence From a to b""" 
    for i in range(n):
        Temporay =a+b
        a=b 
        b=Temporay
    return Temporay

In [ ]:
fibonacci?

In [ ]:
fibonacci(254,1,69)

6096562301039338616380980234559526675513955796936745027

In [ ]:
def InputFloat(Write):                                     
    EnterInput = input(Write)                             
    try:                                                   
        Result=float(EnterInput)
    except ValueError:                                   
        print("Your input Is wrong")
        Result=None                                         

    return(Result)                                         

Month = InputFloat("Please Enter This Month: ")

Please Enter This Month: 5

In [ ]:
print(Month,type(Month))

5.0 <class 'float'>

In [ ]:
def InputFloatInverser(Write):                              
    EnterInput = input(Write)                              
    Result=None                                            
    try:                                                  
        Result=1/float(EnterInput)                         
    except ValueError:                                     
        print("Your input Is wrong")
                                                
    except ZeroDivisionError:                               
        print("Zero Reciopacal Is NotDefined")              

    return(Result)                                         

Month = InputFloat("Please Enter This Month: ")           
Month,type(Month)

Please Enter This Month: 6

(6.0, float)

List

In [ ]:
MySelf="Hi I'm Utkarsh Mishra And I From Jaunpur"         
print(MySelf)                                             
Words=MySelf.split()

Hi I'm Utkarsh Mishra And I From Jaunpur
['Hi', "I'm", 'Utkarsh', 'Mishra', 'And', 'I', 'From', 'Jaunpur']

In [ ]:
Words,type(Words),id(Words)

(['Hi', "I'm", 'Utkarsh', 'Mishra', 'And', 'I', 'From', 'Jaunpur'],
 list,
 140314911602160)

In [ ]:
Words[5]      
Words[-5]

'Mishra'

In [ ]:
Words[2:4]

['Utkarsh', 'Mishra']

In [ ]:
Words[2:7:2]

['Utkarsh', 'And', 'From']

In [ ]:
Numbers=[1,1,2,3,5,8,13,21]

In [ ]:
Numbers,type(Numbers),id(Numbers)

([1, 1, 2, 3, 5, 8, 13, 21], list, 140314911312784)

In [ ]:
#But
Numbers[5],type (Numbers[5]),id (Numbers[5])

(8, int, 11122816)

In [ ]:
#Numbers[2:6]+154
#Here This Will Not Work Because Numbers[2:6] is List & 154 Is Not List,As We Know List01+List02 Is Only Possible

In [ ]:
#To Deal With Above Problem
for Numbers01 in Numbers:     
    print(Numbers01+1412)

1413
1413
1414
1415
1417
1420
1425
1433

In [ ]:
Length=len(Numbers)
for W in range(Length):
    print(W+1,Numbers[W])

1 1
2 1
3 2
4 3
5 5
6 8
7 13
8 21

In [ ]:
Length02=len(Words)      
for Wo in range(Length02):  
    print(Wo+1,Words[Wo])

1 Hi
2 I'm
3 Utkarsh
4 Mishra
5 And
6 I
7 From
8 Jaunpur

In [ ]:
Bmi=["Utkarsh Mishra",90,150,True] 
for Item in Bmi:                   
    print(Item,type(Item),id(Item))

Utkarsh Mishra <class 'str'> 140315017034800
90 <class 'int'> 11125440
150 <class 'int'> 11127360
True <class 'bool'> 11115712

In [ ]:
Bmi[0]="Utkarsh A Mishra"   
Bmi,type(Bmi)

(['Utkarsh A Mishra', 90, 150, True], list)

In [ ]:
Bmi.append("You Are Over Weight"[2])

In [ ]:
Bmi,type(Bmi)

(['Utkarsh A Mishra', 90, 150, True, 'u'], list)

In [ ]:
for Item in Bmi:                   
    print(Item,type(Item),id(Item))

Utkarsh A Mishra <class 'str'> 140314911126512
90 <class 'int'> 11125440
150 <class 'int'> 11127360
True <class 'bool'> 11115712
u <class 'str'> 140315316500464

List Within List

In [ ]:
FamilyRecord=[
              ["Lal Mani Mishra",[85,1],True,"10th"],
              ["P N Mishra",[80,2],False,"Doctrate"],
              ["B N Mishra",[70,3],False,"Graduation"],
              ["Yogesh Mishra",[50,4],True,"Graduation"],
              ["Avinash Mishra",[45,5],True,"Post Graduation"],
              ["Avnish Mishra",[40,6],False,"PHD"],
]

In [ ]:
#Here List No 1 is FamilyRecord
#Lisr No 2 Is [Name,....]
#List No 3 is [85,...]

In [ ]:
FamilyRecord[1][1][1],type(FamilyRecord[1][1][1]),id(FamilyRecord[1][1][1])

(2, int, 11122624)

In [ ]:
A=[
   [1,1],
   [1,0],
]

In [ ]:
def Matrix(A,n):
    OutPut = [Item[:] for Item in A] #Here I Use Deep Copy
    Tempory = [Item[:] for Item in A] #Here I Use Deep Copy
    for AA in range(n-1):
        OutPut[0][0] = A[0][0]*Tempory[0][0]+A[0][0]*Tempory[1][0]
        OutPut[0][1] = A[0][0]*Tempory[0][1]+A[0][1]*Tempory[1][1]
        OutPut[1][0] = A[1][0]*Tempory[0][0]+A[1][0]*Tempory[1][0]
        OutPut[1][1] = A[1][0]*Tempory[0][1]+A[1][1]*Tempory[1][1]
        Tempory =[Item[:] for Item in OutPut]
    return OutPut

In [ ]:
Matrix(A,2)

[[2, 1], [2, 1]]

In [ ]:
#Here I Printed The A**55
for N in range(56):
    OutPut=Matrix(A,N)
    print(N,OutPut)

0 [[1, 1], [1, 0]]
1 [[1, 1], [1, 0]]
2 [[2, 1], [2, 1]]
3 [[4, 2], [4, 1]]
4 [[8, 3], [8, 2]]
5 [[16, 5], [16, 3]]
6 [[32, 8], [32, 5]]
7 [[64, 13], [64, 8]]
8 [[128, 21], [128, 13]]
9 [[256, 34], [256, 21]]
10 [[512, 55], [512, 34]]
11 [[1024, 89], [1024, 55]]
12 [[2048, 144], [2048, 89]]
13 [[4096, 233], [4096, 144]]
14 [[8192, 377], [8192, 233]]
15 [[16384, 610], [16384, 377]]
16 [[32768, 987], [32768, 610]]
17 [[65536, 1597], [65536, 987]]
18 [[131072, 2584], [131072, 1597]]
19 [[262144, 4181], [262144, 2584]]
20 [[524288, 6765], [524288, 4181]]
21 [[1048576, 10946], [1048576, 6765]]
22 [[2097152, 17711], [2097152, 10946]]
23 [[4194304, 28657], [4194304, 17711]]
24 [[8388608, 46368], [8388608, 28657]]
25 [[16777216, 75025], [16777216, 46368]]
26 [[33554432, 121393], [33554432, 75025]]
27 [[67108864, 196418], [67108864, 121393]]
28 [[134217728, 317811], [134217728, 196418]]
29 [[268435456, 514229], [268435456, 317811]]
30 [[536870912, 832040], [536870912, 514229]]
31 [[1073741824, 1346269], [1073741824, 832040]]
32 [[2147483648, 2178309], [2147483648, 1346269]]
33 [[4294967296, 3524578], [4294967296, 2178309]]
34 [[8589934592, 5702887], [8589934592, 3524578]]
35 [[17179869184, 9227465], [17179869184, 5702887]]
36 [[34359738368, 14930352], [34359738368, 9227465]]
37 [[68719476736, 24157817], [68719476736, 14930352]]
38 [[137438953472, 39088169], [137438953472, 24157817]]
39 [[274877906944, 63245986], [274877906944, 39088169]]
40 [[549755813888, 102334155], [549755813888, 63245986]]
41 [[1099511627776, 165580141], [1099511627776, 102334155]]
42 [[2199023255552, 267914296], [2199023255552, 165580141]]
43 [[4398046511104, 433494437], [4398046511104, 267914296]]
44 [[8796093022208, 701408733], [8796093022208, 433494437]]
45 [[17592186044416, 1134903170], [17592186044416, 701408733]]
46 [[35184372088832, 1836311903], [35184372088832, 1134903170]]
47 [[70368744177664, 2971215073], [70368744177664, 1836311903]]
48 [[140737488355328, 4807526976], [140737488355328, 2971215073]]
49 [[281474976710656, 7778742049], [281474976710656, 4807526976]]
50 [[562949953421312, 12586269025], [562949953421312, 7778742049]]
51 [[1125899906842624, 20365011074], [1125899906842624, 12586269025]]
52 [[2251799813685248, 32951280099], [2251799813685248, 20365011074]]
53 [[4503599627370496, 53316291173], [4503599627370496, 32951280099]]
54 [[9007199254740992, 86267571272], [9007199254740992, 53316291173]]
55 [[18014398509481984, 139583862445], [18014398509481984, 86267571272]]

In [ ]:
#Here I Printed The fibonacci
for No in range(56):
    OutPut=Matrix(A,No)
    print(No,OutPut[0][0])

0 1
1 1
2 2
3 4
4 8
5 16
6 32
7 64
8 128
9 256
10 512
11 1024
12 2048
13 4096
14 8192
15 16384
16 32768
17 65536
18 131072
19 262144
20 524288
21 1048576
22 2097152
23 4194304
24 8388608
25 16777216
26 33554432
27 67108864
28 134217728
29 268435456
30 536870912
31 1073741824
32 2147483648
33 4294967296
34 8589934592
35 17179869184
36 34359738368
37 68719476736
38 137438953472
39 274877906944
40 549755813888
41 1099511627776
42 2199023255552
43 4398046511104
44 8796093022208
45 17592186044416
46 35184372088832
47 70368744177664
48 140737488355328
49 281474976710656
50 562949953421312
51 1125899906842624
52 2251799813685248
53 4503599627370496
54 9007199254740992
55 18014398509481984

Tuples & Sets

In [ ]:
Surnames=("Mishra","Tiwari","Dubey","Shukla")

In [ ]:
Surnames,type(Surnames),id(Surnames)

(('Mishra', 'Tiwari', 'Dubey', 'Shukla'), tuple, 140314911102928)

In [ ]:
Surnames[3]

'Shukla'

In [ ]:
Surnames[-3]

'Tiwari'

In [ ]:
Surnames[-4:-2]

('Mishra', 'Tiwari')

Magic Commands

In [ ]:
%%timeit?

In [ ]:
%%timeit -n1 -r10
for U in range(20000000):
    List01=["I","a'm","Better","Than"]

1.62 s ± 143 ms per loop (mean ± std. dev. of 10 runs, 1 loop each)

In [ ]:
%%timeit -n1 -r10
for U in range(20000000):
    Tuple01=("I","a'm","Better","Than")

654 ms ± 24.9 ms per loop (mean ± std. dev. of 10 runs, 1 loop each)

In [ ]:
Surnames01={"Mishra","Tiwari","Dubey","Shukla"}

In [ ]:
Surnames01,type(Surnames01)

({'Dubey', 'Mishra', 'Shukla', 'Tiwari'}, set)

In [ ]:
"Mishra" in Surnames01

True

In [ ]:
#Surnames01.index("Mishra")  
#Here Sets Don't Have Index Function

In [ ]:
Surnames02={"Mishra","Patel","Pandey","Pal"}

In [ ]:
Surnames03=Surnames01.intersection(Surnames02)     
Surnames03,type(Surnames03),id(Surnames03)

({'Mishra'}, set, 140314982905808)

In [ ]:
Surnames04=Surnames01.union(Surnames02)           
Surnames04,type(Surnames04),id(Surnames04)

({'Dubey', 'Mishra', 'Pal', 'Pandey', 'Patel', 'Shukla', 'Tiwari'},
 set,
 140314982550176)

In [ ]:
Surnames02={"Mishra","Patel","Pandey","Pal","Mishra"}

In [ ]:
Surnames04

{'Dubey', 'Mishra', 'Pal', 'Pandey', 'Patel', 'Shukla', 'Tiwari'}

List Vs Tuple Vs Sets { Time Comparison }

In [ ]:
N=100000000

In [ ]:
%%time
List=list(range(N))
for S in range(N):
    List[S]=List[S]*List[S]

CPU times: user 26.3 s, sys: 2.62 s, total: 28.9 s
Wall time: 29.6 s

In [ ]:
%%time
List=list(range(N))
List ={M*M for M in List}

In [ ]:
%%timeit -n25 -r101
List03=list(range(1000000))
for L in range(1000000):
    M =201412 in List03

In [ ]:
%%timeit -n25 -r101
Tuple02=tuple(range(1000000))
for L in range(1000000):
    M =201412 in Tuples02

In [ ]:
%%timeit -n25 -r101
Sets02=set(range(1000000))
for L in range(1000000):
    M =201412 in Sets02

In [ ]:
print ("The End  \n Thank You")

The End
 Thank You