<a href="https://colab.research.google.com/github/Utkarshmishra2k2/Python-Basics/blob/main/Python_Programming_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import math as mt

1.

Accept a number from user and print its multiplication table using For loop.

In [2]:
data_01 = int ( input ( "Enter A Number :" ) )
for i in range (1,11):
    multiple = data_01 * i
    print (data_01,"*",i,"=" , multiple)

Enter A Number :1412
1412 * 1 = 1412
1412 * 2 = 2824
1412 * 3 = 4236
1412 * 4 = 5648
1412 * 5 = 7060
1412 * 6 = 8472
1412 * 7 = 9884
1412 * 8 = 11296
1412 * 9 = 12708
1412 * 10 = 14120

2.

Accept a number from user and print its factorial using While loop.

In [3]:
data_01 = int ( input ( "Enter A Number :" ) )
fact = 1
i = 1
while i<data_01+1:
    fact =  fact *i
    i = i+1

print(fact)

Enter A Number :1412
207403570692548242395553894325773218072248520936311520104490322673122351116298072282742552476838857419985780142628882242457481092916939525543423132973678230829189445891222299881064282170785893757541298045232447304291756322321719813712073762058976107286948063556341292221486845430593739033564611136737060932960649035663223837171254723677394705476377838962876969126889585605820395934272591429263606854918790742341439867428032097989075167713872181175944777119776582339742563617577872825856315042587791374327042662062510918423757491350319529027792780087055954190860399419218382736227886796367043045039716367321666199883993439534299077143177550381818106718881669382201333341404968626451445333012852955555261754575722672781683665873247114143620127477738966025328966986986066281813299595522146761428955699404012903920978699710976014296810530734297526000178305891153981016311096350268816079410410484141814360532536579431260712009721786711402245174387614419170725941114298061234660834015438705297478825936736573454529668726224488056965173574386056232080946186393972914695837835824800238902014912035710140915158100676425799347820015926887998155274650887427198175555714522911198047252222086073810599448201373048114145550715782599529548038141585497635600139867453275126456745426879713026448698258659687693875752507118169129683120913043102454326705835441907768508648433507805521005710539410962463895385157702478034536771068790641163330398880005312759187214860290990237502365000645545103198570349631363179940401937454791016372988646826440596939703160452327007896826248975588905411356161278265762059034750821547982436853533815358578269412602731488136360006705138806439552305593857360767387055219657004584950535506624485944492118359034228286063213002101312526232281643383433851297371521685768488311801457315946519745839237273144857076944254401290467561236107258472663558282293797455785925031014942717519068591888784366362066597955384978694343903878488273983659502098646908751116835213483350624770197049237760692936686540247787070805310397093593292460969838549753659751513597705265282779968331599386838028653721934726976537847997479680976302208868950088192004866530171189467850097591771792326311441469799235492154812382057818081658802726291456381548338531760666823249528582359582617987328498030657362818267432107218422955126170328310907457782101587357049799272044367987235456610245676632094972189694275325783398672533404173263018939036743085955099014221650031194701539941074411100264484360651345939688610614137925235636346955887179826929568483840809548886521949517210332547207910592573309010421318288856619399182685257651128683188965790657005863989794494720946947398673837276260760955668332887563605850886917638201444302285691630391597365226032361140746944580676583445918458549037871859969499195968583828865164760830731704330253598429245982705142206461759459801039069296661673681216786920324576086038971425369119453674150438396341788235381735705299115349016060564092497570088722141775840426475516125469794098200870251238846878270919357871824192423708825252421705586319880289469853653003917073175022779170723142279116381286866241264814871751911354120965767388429305079356522971464545874743205180056554104257336270246759605359319411259052908692967110814362178925842344380975798239860469638428988435579857718456586974690192446233642316467563156935475052660934875078402254469938434162936677042124614784621989604522489299196917353149423450075279460891915947029459765720661229730532640974981509992909639778304000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

3.

Accept a number from user. Pass this number to a function which will test if the number is a multiple of 7 and is divisible by 5.

In [4]:
def multiple(data_01):
    if data_01 % 7 == 0 & data_01 % 5 ==0:
      print(data_01)
    else:
      print("Reenter")

multiple(215)

Reenter

4.

Accept a number from user(n). Print the numbers from n to 1 in reverse order by using a recursive function.

In [6]:
def check(n):
    if (n>0):
        print (n)
        check (n-1)
    else:
        return

data_01 = int ( input ( "Enter A Number :" ) )
check (data_01)

Enter A Number :65
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

5.

Create a List L with 5 numbers stored in it. Write a loop program which calculates and prints the sum of all the numbers stored in the List.

In [7]:
data_01 = [14654,541,68418,641,654165]
y = 0
for i in data_01:
    y = y + i

print(y)

738419

6.

Write a program to check if the number given by user exists in a tuple. If it is found then print “Yes, No. Found” else print “ No. Not found”.

In [8]:
tuple = (54165416,56165,415,114,141474,154,147,454,1457,4,5)
x = int(input("Enter search value:"))
f = "false"
for i in tuple:
    if i == x:
        print("It's Found")
        f = "true"

if (f == "false") :
    print("Not Found")

Enter search value:1412
Not Found

7.

Given a dictionary get all values from the dictionary and add it in a list but don’t add duplicates.

In [9]:
data_01 = {  "A" :465 , "B" : 41, "C" : 41 , "D" : 411545 ,"E" : 654165 }
list = []
print("Dictionory Values ",data_01.values())
for i in data_01.values():
    if i not in list:
        list.append(i)

print("List" , list)

Dictionory Values  dict_values([465, 41, 41, 411545, 654165])
List [465, 41, 411545, 654165]

8.

Write a Python program to convert temperatures in Celsius to  fahrenheit.
[ Formula : c/5 = f-32/9 [ where c = temperature in celsius and f = temperature in fahrenheit ]

In [10]:
data_01 = float ( input ( "Enter the Temperature In Degree Celsius : " ) )
F = ( data_01 * 1.8 ) + 32
print ( " Temprature on Degree Fahrenheit {}. ".format(F) )

Enter the Temperature In Degree Celsius : 1412
 Temprature on Degree Fahrenheit 2573.6.

9.

Accept User name & Password from user. If the user name is “RJC” and Password is 
“student” then print “Login Successful” else print “Login Failed”.

In [11]:
data_01 = str( input ( "Enter The Lodin Id : " ) )
data_02 = str( input ( "Enter The Password : " ) )
if ( data_01 == "RJC") & (data_02 == "student" ):
    print( "Login Succesfull" )
else:
    print( "Login Failed" )

Enter The Lodin Id : 1412
Enter The Password : 1412
Login Failed

10.

Create a List having five numbers in it. Find and print the biggest & smallest number of the list.

In [12]:
list_01 = [54654665,564645,65444,56532,64685]
x = min ( list_01 )
y = max ( list_01 )
print (" Maximum & Minimum from list are {} & {} respectively. ".format ( x , y ))

 Maximum & Minimum from list are 56532 & 54654665 respectively.

11.

Create the following list :
L= [ 12,33,56,78,100] . Accept any number from the user and search its location in the list. If the number is found in the list , print its index number else print message “Number Not Found”.

In [13]:
list_01 = [ 12,33,56,78,100] 
x = int ( input ( " Enter A Number: " ) )
try:
    y = list_01.index( x )
    print( "Value Found with index value {} ".fromat ( y ) )
except:
    print ( "Value Not Found" )

 Enter A Number: 1412
Value Not Found

In [14]:
list_01 = [ 12,33,56,78,100] 
x = int ( input ( " Enter A Number: " ) )
flag = True
for i in range (0,len( list_01 ) ):
    if ( x == list_01[i] ):
        print( "Value Found with index value {} ".fromat ( i ) )
        flag = False
        break

if flag == True :
    print ( "Value Not Found" )

 Enter A Number: 1412
Value Not Found

12.  Write a Python script to print a dictionary where the keys are numbers between 1 and 10 (both included) and the values are square of keys.

In [15]:
dict_01 = dict()
for i in range (1,11):
    dict_01[i] = i ** 2

for w in dict_01:
    print("{} : {}".format(w,dict_01[w]))

1 : 1
2 : 4
3 : 9
4 : 16
5 : 25
6 : 36
7 : 49
8 : 64
9 : 81
10 : 100

13.

Create the following dictionary:
Dict= { “Roll” : 11 , “Name”:”ABC”, “sub1”:89, “sub2”:90}
Print the output as :
Roll     11
Name    ABC
Sub1     89
Sub2    90
Total    179

In [16]:
dict_01 = { "Roll" : 11 , "Name":"ABC", "sub1":89, "sub2":90 }
total = dict_01["sub1"] + dict_01["sub2"]
for w in dict_01:
    print("{} : {}".format(w,dict_01[w]))
print("Total : {}".format(total))

Roll : 11
Name : ABC
sub1 : 89
sub2 : 90
Total : 179

14.

Write a python function to accept 3 parameters and print the smallest number.

In [17]:
def campare( a,b,c):
    x = min(a,b,c)
    y = max(a,b,c)
    print ("Minimum value and Maximum value are {} & {} respectively .".format(x,y))

campare(53546,6487/97,45)

Minimum value and Maximum value are 45 & 53546 respectively .

15.

Write a python function to accept a number as parameter and print its factorial.

In [18]:
data_01 = float ( input ( "Enter the Number : " ) )
fact = mt.factorial( data_01 )
print("Factorial of {} is {} .".format(data_01,fact))

Enter the Number : 1412
Factorial of 1412.0 is 207403570692548242395553894325773218072248520936311520104490322673122351116298072282742552476838857419985780142628882242457481092916939525543423132973678230829189445891222299881064282170785893757541298045232447304291756322321719813712073762058976107286948063556341292221486845430593739033564611136737060932960649035663223837171254723677394705476377838962876969126889585605820395934272591429263606854918790742341439867428032097989075167713872181175944777119776582339742563617577872825856315042587791374327042662062510918423757491350319529027792780087055954190860399419218382736227886796367043045039716367321666199883993439534299077143177550381818106718881669382201333341404968626451445333012852955555261754575722672781683665873247114143620127477738966025328966986986066281813299595522146761428955699404012903920978699710976014296810530734297526000178305891153981016311096350268816079410410484141814360532536579431260712009721786711402245174387614419170725941114298061234660834015438705297478825936736573454529668726224488056965173574386056232080946186393972914695837835824800238902014912035710140915158100676425799347820015926887998155274650887427198175555714522911198047252222086073810599448201373048114145550715782599529548038141585497635600139867453275126456745426879713026448698258659687693875752507118169129683120913043102454326705835441907768508648433507805521005710539410962463895385157702478034536771068790641163330398880005312759187214860290990237502365000645545103198570349631363179940401937454791016372988646826440596939703160452327007896826248975588905411356161278265762059034750821547982436853533815358578269412602731488136360006705138806439552305593857360767387055219657004584950535506624485944492118359034228286063213002101312526232281643383433851297371521685768488311801457315946519745839237273144857076944254401290467561236107258472663558282293797455785925031014942717519068591888784366362066597955384978694343903878488273983659502098646908751116835213483350624770197049237760692936686540247787070805310397093593292460969838549753659751513597705265282779968331599386838028653721934726976537847997479680976302208868950088192004866530171189467850097591771792326311441469799235492154812382057818081658802726291456381548338531760666823249528582359582617987328498030657362818267432107218422955126170328310907457782101587357049799272044367987235456610245676632094972189694275325783398672533404173263018939036743085955099014221650031194701539941074411100264484360651345939688610614137925235636346955887179826929568483840809548886521949517210332547207910592573309010421318288856619399182685257651128683188965790657005863989794494720946947398673837276260760955668332887563605850886917638201444302285691630391597365226032361140746944580676583445918458549037871859969499195968583828865164760830731704330253598429245982705142206461759459801039069296661673681216786920324576086038971425369119453674150438396341788235381735705299115349016060564092497570088722141775840426475516125469794098200870251238846878270919357871824192423708825252421705586319880289469853653003917073175022779170723142279116381286866241264814871751911354120965767388429305079356522971464545874743205180056554104257336270246759605359319411259052908692967110814362178925842344380975798239860469638428988435579857718456586974690192446233642316467563156935475052660934875078402254469938434162936677042124614784621989604522489299196917353149423450075279460891915947029459765720661229730532640974981509992909639778304000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 .

In [19]:
def factorial(a):
    fact=1
    if a < 0:
        print("no factorial for 0")
    elif a==0:
        print("factorial of 0 is 0")
    else:
        for i in range(1,a+1):
             fact*=i
             
        print("factorial of",a,"is",fact)
data_01 = int ( input ( "Enter the Number : " ) )          
factorial(data_01)

Enter the Number : 1412
factorial of 1412 is 207403570692548242395553894325773218072248520936311520104490322673122351116298072282742552476838857419985780142628882242457481092916939525543423132973678230829189445891222299881064282170785893757541298045232447304291756322321719813712073762058976107286948063556341292221486845430593739033564611136737060932960649035663223837171254723677394705476377838962876969126889585605820395934272591429263606854918790742341439867428032097989075167713872181175944777119776582339742563617577872825856315042587791374327042662062510918423757491350319529027792780087055954190860399419218382736227886796367043045039716367321666199883993439534299077143177550381818106718881669382201333341404968626451445333012852955555261754575722672781683665873247114143620127477738966025328966986986066281813299595522146761428955699404012903920978699710976014296810530734297526000178305891153981016311096350268816079410410484141814360532536579431260712009721786711402245174387614419170725941114298061234660834015438705297478825936736573454529668726224488056965173574386056232080946186393972914695837835824800238902014912035710140915158100676425799347820015926887998155274650887427198175555714522911198047252222086073810599448201373048114145550715782599529548038141585497635600139867453275126456745426879713026448698258659687693875752507118169129683120913043102454326705835441907768508648433507805521005710539410962463895385157702478034536771068790641163330398880005312759187214860290990237502365000645545103198570349631363179940401937454791016372988646826440596939703160452327007896826248975588905411356161278265762059034750821547982436853533815358578269412602731488136360006705138806439552305593857360767387055219657004584950535506624485944492118359034228286063213002101312526232281643383433851297371521685768488311801457315946519745839237273144857076944254401290467561236107258472663558282293797455785925031014942717519068591888784366362066597955384978694343903878488273983659502098646908751116835213483350624770197049237760692936686540247787070805310397093593292460969838549753659751513597705265282779968331599386838028653721934726976537847997479680976302208868950088192004866530171189467850097591771792326311441469799235492154812382057818081658802726291456381548338531760666823249528582359582617987328498030657362818267432107218422955126170328310907457782101587357049799272044367987235456610245676632094972189694275325783398672533404173263018939036743085955099014221650031194701539941074411100264484360651345939688610614137925235636346955887179826929568483840809548886521949517210332547207910592573309010421318288856619399182685257651128683188965790657005863989794494720946947398673837276260760955668332887563605850886917638201444302285691630391597365226032361140746944580676583445918458549037871859969499195968583828865164760830731704330253598429245982705142206461759459801039069296661673681216786920324576086038971425369119453674150438396341788235381735705299115349016060564092497570088722141775840426475516125469794098200870251238846878270919357871824192423708825252421705586319880289469853653003917073175022779170723142279116381286866241264814871751911354120965767388429305079356522971464545874743205180056554104257336270246759605359319411259052908692967110814362178925842344380975798239860469638428988435579857718456586974690192446233642316467563156935475052660934875078402254469938434162936677042124614784621989604522489299196917353149423450075279460891915947029459765720661229730532640974981509992909639778304000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

16.

Perform Basic Mathematical Operation

In [20]:
num_01 = float( input( "Please Enter A Number :" ) )
num_02 = float( input( "Please Enter A Number :" ) )
num_03 = float( input( "Please Enter A Number :" ) )

print( "Sum = " , num_01 + num_02 + num_03 )
print( "Subtraction = " , num_01 - num_02 - num_03 )
print( "Multiplication = " , num_01 * num_02 * num_03 )
print( "Division = " , num_01 /  num_03 )

Please Enter A Number :1412
Please Enter A Number :153
Please Enter A Number :1482
Sum =  3047.0
Subtraction =  -223.0
Multiplication =  320165352.0
Division =  0.9527665317139001