<a href="https://colab.research.google.com/github/Utkarshmishra2k2/Python-Basics/blob/main/Python%20Basics%20Session.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

 Why Jupyter Notebook?

    Jupyter Notebook is the main environment where many Data Scientists start from because it is
    the easiest to understood and integrated with the Anaconda environment.

How to open Jupyter notebook in system:
    
 Method 1: Using Anaconda Prompt:
    1. Search ANACONDA PROMPT in your system
    2. type cd followed by path of file
    3. type "Jupyter Notebook"
    
Method 2: Open ANACONDA NAVIGATOR in your system and from there you can launch Jupyter Notebook

In [ ]:
# How to open file in notebook

import pandas as pd
data=pd.read_csv("C://D Drive//MBA//Stretch Objective//2023//Python Initiative//DummyData.csv")

In [ ]:
data.head()

In [ ]:
# How to save file in notebook

df=pd.DataFrame(data)
df.to_csv("DummyData2.csv")

Few Keyboard Shortcuts

1. Row above: click "a"
2. Row Below: click "b"
3. Delete: double click "d"

# Section 1: Basics of Python

## Operators
1. " + " ==> Addition Operator
2. " - " ==> Subtraction Operator
3. " * " ==> Multiplication Operator
4. " / " ==> Division Operator
5. " = " ==> Assignment Operator
6. " // " ==> Integer Divison Operator [Divide and share the lowest possible integer]
7. " % " ==> Modulo operator [Gives Remainder as an output]
8. " ** " ==> Power Operator

In [ ]:
## Datatype:
int() ==> Integer: 3,5,7
float() ==> Float: 2.5, 3.7, 2.0
str() ==> String: "MBA"
bin() ==> Binary: 1,0

In [ ]:
A=3
B=2.7
C="India"
D=7.0
E="3"

In [ ]:
print(type(A))
print(type(B))
print(type(C))
print(type(D))
print(type(E))

In [ ]:
p=7
q=2

print(p+q,p-q,p*q,p/q,p//q,p%q,p**q)

In [ ]:
#Quick Activity:
    #Q: A=2**4, B=4**2 check whether A=B or not?

#Answer:

A=2**4
B=4**2
A==B

In [ ]:
A=6
B=10
A=B
A

In [ ]:
# Let's play with Print Operator

In [ ]:
A="Team"
B="RJ"
print(A+B)
print(A+"_"+B)
print(A,B)

In [ ]:
#Q. Objective here is to paste both in same line using , as separator
A=10
B=20
print(A+B)
print(A-B)
print (A+B, A-B)

In [ ]:
#A. Use END function of print [Default option: end="/n"]

print(A+B,end="_") #Useful in case of Loop when we want to paste multiple output in single line using some separator
print(A-B)

In [ ]:
# Input Funtion: Using this we can take any value from user [Default Datatype: String]

In [ ]:
A=input()
B=input()
A+B

In [ ]:
type(A)

In [ ]:
print(type(A),type(B))

In [ ]:
A=int(input())
B=int(input())
print(A+B, type(A), type(B))

In [ ]:
# Conversion from one datatype to other

In [ ]:
A="123"
print(type(A))
B=int(A)
print(type(B))

In [ ]:
A=30
print(type(A),A)
B=str(A)
print(type(B),B)

# Section 2: Control Statement [If...else]

In [ ]:
a=4
b=5
a>b or b>a

In [ ]:
a=40
b=5
if a>b:
             print("a is larger than b")
else:
            print("b is larger than a")

## Always use colon : to create a block for if & else,the spaces below if & else is called "intends" "intendation"

In [ ]:
if <condition>:
    <BODY>
else:
    <BODY>

In [ ]:
A%7

In [ ]:
A=115
A%10

In [ ]:
# Read a number and check whether divisible by 7 or not

A=int(input())
if A%7==0:
    print(A,"is divisible by 7")
else:
    print(A,"is not divisible by 7")

In [ ]:
# Read a number and check whether last digit is 4 or not

A=int(input())
if A%10==4:
    print("Last digit is 4")
else:
    print("Last digit is not 4")

In [ ]:
# Read a number and check whether last digit is 4 or not & divisible by 3 or not
# If we want to check two condition at a time and both condition need to be satisfy use AND operator
#If we want to check two condition at a time but need only one condition to be satisfy use OR operator

A=int(input())
if (A%10==4 or A%3==0):
    print("Yes")
else:
    print("No")

In [ ]:
# Nested Control Statement [if - elif ["elif" is shortcut of "elseif"] - else] - Used when we have multiple conditions to check

In [ ]:
8# Read 3 integers and print their maximum

a=int(input())
b=int(input())
c=int(input())

if (a>b and a>c):
    print("Maximum is:",a)
elif (b>a and b>c):
    print("Maximum is:",b)
elif (c>a and c>b):
    print("Maximum is:",c)
else:
    print("Please try with different numbers")

In [ ]:
## Task 1
# read the three angles of triangle and figure out the type of triangle

a=int(input())
b=int(input())
c=int(input())

if ((a+b+c == 180) and (a<90 and b<90 and c<90)):
    print("Acute Angled Triangle")
elif ((a+b+c == 180) and (a>90 or b>90 or c>90)):
    print("Obtuse Angled Triangle")
else:
    print("Right Angled Triangle")

# Section 3: Loop

In [ ]:
# Whenever you want to replicate any task multiple time, we can use Loop
# There are two types of loops in Python "For" and "While"

In [ ]:
# While Loop work until the given condition satisfied

# loop follow four step namely: Initialization, Condition, Update & Work.

In [ ]:
# Print "I love Python" using while loop

#Initialization

i=0.

# Condition
while (i<5):
    i=i+1 #update
    print("I love Python",end=",") #work

In [ ]:
# Print "I love Stats" using while loop in one line

#Initialization

i=0.

# Condition
while (i<5):
    i=i+1 #update
    print("I love Stats",end=" ") #work

In [ ]:
#Print all natural from 1 to 10

#Option 1
#Initialization

i=0

#Condition

while (i<10):
    i=i+1 #update
    print(i,end=",") #work

print("\n")
#Option 2

i=1
while i<=10:
    print(i,end=",")
    i=i+1

In [ ]:
# print all integers from 1 to N [Where N means user input number]

i=1 #I
j=int(input())
while (i<=j):
    print(i,end=",")
    i=i+1

In [ ]:
# print all odd integers from 1 to N [Where N=User Input]

i=1
j=int(input())
while (i<=j):
    if i%2==1:
        print(i,end=" ")
    i=i+1

In [ ]:
# For Loop:

# Range Method
# it is use to generate the range of integers
# range(start,end,increment)
#==> Start - Starting number, default is "0"
#==> end - end of range, python returns numbers < end that means if end value is 6 then the last number return by python will be 5 (numbers<6) [in case of negative icremental value will be number>end]
#==> increment - numbers by which you want to increase your previous number [Default is 1]

#range(6): Since we have 1 number as input, python will consider this value as END value and will return numbers start from 0 to 5
#range(2,6): Python will consider first number as starting point and second number as ending point [Output: 2,3,4,5]
#range(1,10,2): First No = Starting point, Second No.=Ending point, Third No= incremental value [Output:1,3,5,7,9]
#range(10,0,-2): Start from 10 till 1 by difference of 2 [10,8,6,4,2]

# body

# for i in range(start,end,increment):

In [ ]:
for i in range(10):
    print(i,end=" ")

In [ ]:
# Print square of i

for i in range(10):
    print(i**2,end=" ")

In [ ]:
# print all odd integers from 1 to N

N=int(input())
for i in range(1,N+1):
    if (i%2==1):
        print(i,end=" ")

In [ ]:
# For Loop VS While Loop

#1. Use FOR loop when you have a fixed range
#2. Use WHILE loop for all other cases
#3. There is no difference in performance. Both loops would take the same amount of time.
#4. FOR loop has a cleaner syntax

In [ ]:
# Given N, print it's factor

N=int(input())
for i in range(1,N+1):
    if N%i==0:
        print(i,end=" ")

In [ ]:
# Given N, return a power b

A=int(input())
B=int(input())
ans=1
for i in range(1,B+1):
    ans=A*ans
print(ans)

# Section 4: Hands-On-Practice

In [ ]:
Task 1: On the basis of side of triangles figure out the type of triangle
Note: We need to take all the inputs from user

    [Equilateral Triangle: All Sides are equal, Isoscele Triangle: 2 sides are equal, Scalene: No sides are equal ]

Hint: Use If.. elif.. else

In [ ]:
side1, side2, side3 = map(int, input("Enter Sides All "))
print(f"Given triangle sides are {side1},{side2} & {side3}.")
if side1 == side2 and side2 == side3:
 print("Equilateral Triangle")
elif side1 == side2 or side2 == side3 or side1 == side3:
 print("Isosceles Triangle")
else:
 print("Scalene Triangle")

In [ ]:
Task 2: Between 1 to 100, print all the numbers multiple of 4 using while loop

In [ ]:
number = 4
while number <= 100:
 print(number)
 number += 4

In [ ]:
number = 1
while number <= 100:
 if number % 4 == 0:
    print(number)
 number += 1

In [ ]:
Task 3: Print all even number from 20 to 1 using For Loop

In [ ]:
Task 4: Given N=4, print below pattern using loop
    *
    **
    ***
    ****

In [ ]:
i = 0
while (i<6):
 print("*"*i)
 i+=1

In [ ]:
# BREAK statement
# It is one of the loop control statement
#Used to break out of the enclosing loop
#if you want to stop loop at any point, you can use Break statement to stop loop

#In the below loop i want to discontinue the loop once the value of i reaches 50

for i in range(1,100):
    print(i,end=" ")
    if i==50:
        break

In [ ]:
#Loop 2: Assignment 4

N=int(input()) #Balance in Bank Account
M=int(input())
for i in range(M):
    Type,Amount=map(int,input().split())
    if Type==1:
        N=N+Amount
        print(N)
    if Type==2:
        if Amount>N:
            print("Insufficient Funds")
            break
        N=N-Amount
        print(N)

In [ ]:
# Continue Statement
# it is used to skip an iteration of the loop

# I want to print numbers from 1 to 20 except the multiple of 3

for i in range(1,21):
    if i%3==0:
        continue
    print(i,end=" ")

In [ ]:
# Generate & Print random numbers from 1 to 10 until you reach 5
# For random number, always import module called "random"

import random

while True:  #Infinite loop because it consider the condition as always true
    x=random.randint(1,10) # It is a funtion to generate random number between given range i.e 1 to 10 in this case
    if (x==5):
        break
    print(x,end=" ")

In [ ]:
# Generate & Print random numbers from 1 to 10 until you reach 5  & want to skip multiple of 4

import random

while True:  #Infinite loop because it consider the condition as always true
    x=random.randint(1,10) # It is a funtion to generate random number between given range i.e 1 to 10 in this case
    if (x==5):
        break
    elif (x%4==0):
        continue
    print(x,end=" ")

In [ ]:
# Pattern Problems

In [ ]:
# Given N, print N no of stars

N=int(input())
for i in range(N):
    print("*",end="")

In [ ]:
# Given N=3, M=5 print 3*5 matrix

N=int(input())
M=int(input())
for i in range(N):
    for j in range (M):
        print("*",end=" ")
    print(end="\n") # or we can write print() as well because blank in print by default take the cursor on next line

# if we will use print("\n") then it will add 1 extra blank row between two rows because the print() will by.....
#.....default move cursor to next line but because of \n it will again move curson to next line hence extra one line
# Loop inside loop is called "Nested Loop"

In [ ]:
# Given N=4, Print below star pattern
# *
# **
# ***
# ****

#Option 1
for i in range(0,6,1):
 print("*"*i)
print()

#Option 2
i = 0
while (i<6):
 print("*"*i)
 i+=1
print()

#Option 3
N=5
for i in range(1,N+1):
    for j in range(i):
        print("*",end="")
    print()

In [ ]:
# Given N=4, print reverse star pattern (****,***,**,*)

#Option 1
for i in range(6,0,-1):
 print("*"*i)
print()

#Option 2
i = 6
while (i>0):
 print("*"*i)
 i-=1
print()

#Option 3
N=4
for i in range(6,0,-1):
    for j in range(i):
        print("*",end="")
    print()

In [ ]:
# Given N=5, print below pattern
# 1
# 1*
# 1*3
# 1*3*
# 1*3*5

#Option 1
N=5
for i in range(1,N+1):
    for j in range(1,i+1):
        if j%2==0:
            print("*",end="")
        else:
            print(j,end="")
    print()

print()

#Option 2
N=5
for i in range(1,N+1):
    for j in range(1,i+1):
        if j%2==0:
            print("*",end="")
        else:
            print(j,end="")
    print()

In [ ]:
# Given N print below pattern [First line 5 spaces, then 4 then 3 and so on..]

#Option 1
for i in range(6,0,-1):
 print("*"," "*i,"*")
print()

#Option 1
N=5
for i in range(1,N+1):
    print("*",end="")
    for j in range(N+1-i):
        print(" ",end="")
    print("*")

In [ ]:
# Given N=4, Print below star pattern
# *  *
# *  *
# *  *
# *  *
# 3 Spaces excatly

#Option 1
for i in range(0,5,1):
 print("*"," "*3,"*")
print()

#Option 2
i = 0
while (i<6):
 print("*"," "*3,"*")
 i+=1
print()

In [ ]:
# Given N=5, print below pattern
#    *
#   **
#  ***
# ****
#*****

#Option 1
for i in range(1, 6):
 print(' ' * (6 - i) + '*' * i)
print()

#Option 2
N=5
for i in range(1,N+1):
    for j in range(N-i):
        print(" ",end="")
    for k in range(i):
        print("*",end="")
    print()
print()

#Option 3
N = 5
i = 1
while i <= N:
    j = 0
    while j < (N - i):
        print(" ", end="")
        j += 1
    k = 0
    while k < i:
        print("*", end="")
        k += 1
    print()
    i += 1

In [ ]:
# Given N=5, print below pattern
# *****
#  ****
#  ***
#   **
#    *
# *****
# ****
#  ***
#   **
#    *


#Option 1
N = 5
for i in range(N):
    for j in range(i):
        print(" ", end="")
    for k in range(N - i):
        print("*", end="")
    print()


#option 2
N = 5
for i in range(1, N + 1):
    for j in range(i - 1):
        print(" ", end="")
    for k in range(N + 1 - i):
        print("*", end="")
    print()

In [ ]:
# Even number from N to 1 using while loop
i = 20
while (i>1):
 if i%2==0:
    print(i, end=" " )
 i -=1

In [ ]:
# Sum of number using while loop
i = 1
sum = 0
while (i<10):
    sum+=i
    i +=1
    print(sum)

In [ ]:
# Calculate the sum of the individual digits of the number.
#Option 1
T = int(input("Enter the number of test cases: "))
i = 1
while i <= T:
    num = int(input("Enter a number: "))
    add = 0
    while num > 0:
        b = num % 10
        add += b
        num //= 10
    print(add)
    i += 1


#Option 2
T = int(input("Enter the number of test cases: "))
for _ in range(T):
    num = int(input("Enter a number: "))
    print(sum(int(digit) for digit in str(num)))

#Option 3
def cal(data):
    total = 0
    res = [int(x) for x in str(data)]
    for ele in res:
        total += ele
    print("Sum of all digits in the given number:", total)

i = 0
number = int(input("How many times do you need? "))
while i < number:
    data_01 = input("Enter a number: ")
    cal(data_01)
    i += 1

In [ ]:
print("End")