<a href="https://colab.research.google.com/github/Utkarshmishra2k2/Python-Basics/blob/main/Python_from_Scratch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

 Why Jupyter Notebook?

    Jupyter Notebook is the main environment where many Data Scientists start from because it is
    the easiest to understood and integrated with the Anaconda environment.

How to open Jupyter notebook in system:
    
 Method 1: Using Anaconda Prompt:
    1. Search ANACONDA PROMPT in your system
    2. type cd followed by path of file
    3. type "Jupyter Notebook"
    
Method 2: Open ANACONDA NAVIGATOR in your system and from there you can launch Jupyter Notebook

In [ ]:
# How to open file in notebook

import pandas as pd
data=pd.read_csv("C://D Drive//MBA//Stretch Objective//2023//Python Initiative//DummyData.csv")

In [ ]:
data.head()

In [ ]:
# How to save file in notebook

df=pd.DataFrame(data)
df.to_csv("DummyData2.csv")

Few Keyboard Shortcuts

1. Row above: click "a"
2. Row Below: click "b"
3. Delete: double click "d"

# Section 1: Basics of Python

## Operators
1. " + " ==> Addition Operator
2. " - " ==> Subtraction Operator
3. " * " ==> Multiplication Operator
4. " / " ==> Division Operator
5. " = " ==> Assignment Operator
6. " // " ==> Integer Divison Operator [Divide and share the lowest possible integer]
7. " % " ==> Modulo operator [Gives Remainder as an output]
8. " ** " ==> Power Operator

In [ ]:
## Datatype:
int() ==> Integer: 3,5,7
float() ==> Float: 2.5, 3.7, 2.0
str() ==> String: "MBA"
bin() ==> Binary: 1,0

In [ ]:
A=3
B=2.7
C="India"
D=7.0
E="3"

In [ ]:
print(type(A))
print(type(B))
print(type(C))
print(type(D))
print(type(E))

In [ ]:
p=7
q=2

print(p+q,p-q,p*q,p/q,p//q,p%q,p**q)

In [ ]:
#Quick Activity:
    #Q: A=2**4, B=4**2 check whether A=B or not?

#Answer:

A=2**4
B=4**2
A==B

In [ ]:
# Let's play with Print Operator

In [ ]:
A="Team"
B="MBA"
print(A+B)
print(A+" "+B)
print(A,B)

In [ ]:
#Q. Objective here is to paste both in same line using , as separator
A=10
B=20
print(A+B)
print(A-B)
print (A+B, A-B)

In [ ]:
#A. Use END function of print [Default option: end="/n"]

print(A+B,end=",") #Useful in case of Loop when we want to paste multiple output in single line using some separator
print(A-B)

In [ ]:
# Input Funtion: Using this we can take any value from user [Default Datatype: String]

In [ ]:
A=input()
B=input()
A+B

In [ ]:
print(type(A),type(B))

In [ ]:
A=int(input())
B=int(input())
print(A+B, type(A), type(B))

In [ ]:
# Conversion from one datatype to other

In [ ]:
A="123"
print(type(A))
B=int(A)
print(type(B))

In [ ]:
A=30
print(type(A),A)
B=str(A)
print(type(B),B)

# Section 2: Control Statement [If...else]

In [ ]:
a=4
b=5
if a>b:
    print("a is larger than b")
else:
    print("b is larger than a")

## Always use colon : to create a block for if & else,the spaces below if & else is called "intends" "intendation"

In [ ]:
# Read a number and check whether divisible by 7 or not

A=int(input())
if A%7==0:
    print(A,"is divisible by 7")
else:
    print(A,"is not divisible by 7")

In [ ]:
# Read a number and check whether last digit is 4 or not

A=int(input())
if A%10==4:
    print("Last digit is 4")
else:
    print("Last digit is not 4")

In [ ]:
# Read a number and check whether last digit is 4 or not & divisible by 3 or not
# If we want to check two condition at a time and both condition need to be satisfy use AND operator
#If we want to check two condition at a time but need only one condition to be satisfy use OR operator

A=int(input())
if (A%10==4 and A%3==0):
    print("Yes")
else:
    print("No")

In [ ]:
# Nested Control Statement [if - elif ["elif" is shortcut of "elseif"] - else] - Used when we have multiple conditions to check

In [ ]:
# Read 3 integers and print their maximum

a=int(input())
b=int(input())
c=int(input())

if (a>b and a>c):
    print("Maximum is:",a)
elif (b>a and b>c):
    print("Maximum is:",b)
elif (c>a and c>b):
    print("Maximum is:",c)
else:
    print("Please try with different numbers")

In [ ]:
## Task 1
# read the three angles of triangle and figure out the type of triangle

a=int(input())
b=int(input())
c=int(input())

if ((a+b+c == 180) and (a<90 and b<90 and c<90)):
    print("Acute Angled Triangle")
elif ((a+b+c == 180) and (a>90 or b>90 or c>90)):
    print("Obtuse Angled Triangle")
else:
    print("Right Angled Triangle")

# Section 3: Loop

In [ ]:
# Whenever you want to replicate any task multiple time, we can use Loop
# There are two types of loops in Python "For" and "While"

In [ ]:
# While Loop work until the given condition satisfied

# loop follow four step namely: Initialization, Condition, Update & Work.

In [ ]:
# Print "I love Python" using while loop

#Initialization

i=0.

# Condition
while (i<5):
    i=i+1 #update
    print("I love Python") #work

In [ ]:
# Print "I love you" using while loop in one line

#Initialization

i=0.

# Condition
while (i<5):
    i=i+1 #update
    print("I love you",end=" ") #work

In [ ]:
#Print all integers from 1 to 10

#Option 1
#Initialization

i=0

#Condition

while (i<10):
    i=i+1 #update
    print(i) #work

#Option 2

i=1
while i<=10:
    print(i)
    i=i+1

In [ ]:
# print all integers from 1 to N [Where N means user input number]

i=1
j=int(input())
while (i<=j):
    print(i,end=" ")
    i=i+1

In [ ]:
# print all odd integers from 1 to N [Where N=User Input]

i=1
j=int(input())
while (i<=j):
    if i%2==1:
        print(i,end=" ")
    i=i+1

In [ ]:
# For Loop:

# Range Method
# it is use to generate the range of integers
# range(start,end,increment)
#==> Start - Starting number, default is "0"
#==> end - end of range, python returns numbers < end that means if end value is 6 then the last number return by python will be 5 (numbers<6) [in case of negative icremental value will be number>end]
#==> increment - numbers by which you want to increase your previous number [Default is 1]

#range(6): Since we have 1 number as input, python will consider this value as END value and will return numbers start from 0 to 5
#range(2,6): Python will consider first number as starting point and second number as ending point [Output: 2,3,4,5]
#range(1,10,2): First No = Starting point, Second No.=Ending point, Third No= incremental value [Output:1,3,5,7,9]
#range(10,0,-2): Start from 10 till 1 by difference of 2 [10,8,6,4,2]

# body

# for i in range(start,end,increment):

In [ ]:
for i in range(10):
    print(i,end=" ")

In [ ]:
# Print square of i

for i in range(10):
    print(i*i,end=" ")

In [ ]:
# print all odd integers from 1 to N

N=int(input())
for i in range(1,N+1):
    if (i%2==1):
        print(i,end=" ")

In [ ]:
# For Loop VS While Loop

#1. Use FOR loop when you have a fixed range
#2. Use WHILE loop for all other cases
#3. There is no difference in performance. Both loops would take the same amount of time.
#4. FOR loop has a cleaner syntax

In [ ]:
# Given N, print it's factor

N=int(input())
for i in range(1,N+1):
    if N%i==0:
        print(i,end=" ")

In [ ]:
# Given N, return a power b

A=int(input())
B=int(input())
ans=1
for i in range(1,B+1):
    ans=A*ans
print(ans)

# Section 4: Method & List

In [ ]:
# Map function is use to take multiple input at a time

a,b,c,d,e=map(int,input().split(sep=" ")) #int==>Type of data you need as an input

In [ ]:
a

In [ ]:
# Converting float upto 2 decimal point
f=3.6234
print("{0:.2f}".format(f)) #if need 3 decimal point, replave .2f by .3f [.2 or.3 represent number after decimal]

In [ ]:
# BREAK statement
# It is one of the loop control statement
#Used to break out of the enclosing loop
#if you want to stop loop at any point, you can use Break statement to stop loop

#In the below loop i want to discontinue the loop once the value of i reaches 50

for i in range(1,100):
    print(i,end=" ")
    if i==50:
        break

In [ ]:
# Continue Statement
# it is used to skip an iteration of the loop

# I want to print numbers from 1 to 20 except the multiple of 3

for i in range(1,21):
    if i%3==0:
        continue
    print(i,end=" ")

In [ ]:
# Generate & Print random numbers from 1 to 10 until you reach 5
# For random number, always import module called "random"

import random

while True:  #Infinite loop because it consider the condition as always true
    x=random.randint(1,10) # It is a funtion to generate random number between given range i.e 1 to 10 in this case
    if (x==5):
        break
    print(x,end=" ")

In [ ]:
# Generate & Print random numbers from 1 to 10 until you reach 5  & want to skip multiple of 4

import random

while True:  #Infinite loop because it consider the condition as always true
    x=random.randint(1,10) # It is a funtion to generate random number between given range i.e 1 to 10 in this case
    if (x==5):
        break
    elif (x%4==0):
        continue
    print(x,end=" ")

In [ ]:
# SEP in print [SEP means SEPARATER]
# Whenever we print multiple things in one line using Comma then python automatically add space between them

print("Vikas","Male",25,"Mumbai")

In [ ]:
# if i want to separate words using something else instead of SPACE then I can use SEP function in print

print("Vikas","Male",25,"Mumbai",sep="_")

In [ ]:
# Compound Assignment Statement
# it is just a shorthand way of writing

# in loop instead of i=i+1 you can write "i+=1"

x=x+10 [x+=10]
x=x-5 [x-=5]
x=x*20 [x*=20]
x=x/5[x/=5]
x=x//5 [x//=5]

In [ ]:
# Shorcut for converting mutiple line as "comments" is "ctlr+/"

In [ ]:
# FUNCTIONS

In [ ]:
# Problems of writing all the codes in one go are the codes become difficult to understand if it is lengthy
# We need to write the same code again and again if we want to replicate any steps n times
# Repetation also increases the file size
# If later we want to do any edit in my previous code, I have to do the same editing part for n times [where n means the number of times we have replicated the code]

# Problem: [Hard to Read, Hard to edit, Repeating code, Hard to maintain or update]

# The solution for this is "Functions"

In [ ]:
#Function is a block of code. It runs the code whenever it is called
# So basically we will define one formula or algorithm in function and then whenever we need to run that formula we have to just call the function rather than writing the formula again

def tea(): #def is use to define any funtion, tea() is a function name
    print("Water","Milk","Sugar","Tealeaf",sep="+")

def coffee():
    print("Water","Milk","Sugar","Coffeepowder",sep="+")

# when we run the above function we will not get any output because we are defining the function but not calling that function
# for princting any function, we have to call the function

tea()
coffee()

In [ ]:
# Arguments
# Argments are some values which we can pass through the function
# it is also called as PARAMETERS

def hello():
    print("Hello Vikas Dubey")
hello() # It will always print the same name

#let's say if i want to paste the different names [Name should be user input], then i can pass the parameter for name

def name(a):
    print("Hello",a)

name("Pankaj")

# We cannot define the datatype of ARGUMENT in python

In [ ]:
# Functio, print the square of number

def sqr(a):
    print(a**2)

sqr(8)

In [ ]:
def sum(a,b):
    c=a+b
    print(c)
sum(10,20)
sum(10,30)

In [ ]:
def cube(x):
    c=x**3
    print(c)
x=cube(10)
y=10
z=x-y
print(z) # Here since we are just printing C in CUBE function we cannot assign the value to X because we are not getting anything back from the function.

In [ ]:
def cube(x):
    c=x**3
    return c
x=cube(10)
y=10
z=x-y
print(z) # Here since we are returning C in CUBE function we can assign the value to X because we are getting C back from the function.

In [ ]:
# Programming language follow BOMDAS not BODMAS [Bracket open, Multiplication, Division, Addition , Substraction]

In [ ]:
def maths(a,b):
    return a+b,a-b, a*b, a/b
y=maths(10,20) # by doing this we are assigning all the return values to one variable
y
# if we want to assign different values of return to different variables then we can do by following approach

x,y,z,m=maths(1,2)

print(x,y,z,m)
print(x)

In [ ]:
# Keyword Arguments

def introducer(name, age, profession):
    print(name)
    print(age)
    print(profession)

introducer("Vikas",25,"Data Scientist")

# whenever we need to call any function, we need to pass the value of arguments in the same order which we have defined in the function
# For Example, in the above syntax we have name then age then profession. so value should be in the same order otherwise the result will be incorrect.
# Let's say i have forget the order of arguments we have used while defining the function
# in this case we will blindly enter the input in some random order, the result might be inappropriate
# hence we can use Keyword Argument concept to adress this issue.
# In this while passing the value of argument we can write argument name as well. example, introducer(name="Vikas", profession="Data",age="25")

In [ ]:
# Default Arguments

# When you will pass any value to any argument while defining the function, the python will print the default value in absense of missing value for that particular argument

def name(age, profession="Student"):
    print("My age is",age,"old")
    print("My profession is",profession)

name(30,"Doctor") # Here we are passing value of profession hence it will paste the value passed by us
name(30) # Here we are not passing any value for profession hence it is printing the DEFAULT value provided to this argument while defining the function itself

In [ ]:
#DSA - Data structure & Algorithms
# It is use to store the data. Depends of different kind on data we use different data structures
# The defauls data structres in python are LIST, TUPLES, SETS, DICTIONARY

In [ ]:
# LISTS:

#1. Lists are used to store multiple items in a single variable.
#2. Lists are changable, that said we can add, remove or alter the values of list
#3. the values are denoted in [] bracket
#4. list() - it is a list constructor which we can use to create a list

In [ ]:
Movie1="A"
Movie2="B"
Movie3="C"
Movie4="D"
Movie5="E" # Here we are defining N numbers of variables for N objects.

# To avoid these kind of scenario, we can use list. By using list we can store all the values in one VARIABLE.

Movie=["A","B","C","D","E"]
print(Movie)
type(Movie)

In [ ]:
# We can add any kind of data in list [String, Integers, Float, Boolean etc.]
#We can add LIST WITHIN LIST as well.

List1=["A",200,1.5]
List2=["A","B",[100,200,300]]
print(List1)
print(List2)
len(List1) #len is default function to find the length
len(List2) #Python consider the list within the list as one object only hence the length in this case will be 3 only.

In [ ]:
# Order of Data in the list [Indexing]
#Indexing is used to access specific item from the list

#Indexing will start from 0 to n. in above LIST1/List2 the indexing are [0,1,2]
#In LIST2, there will be separate indexing for the list we have inside the list.

#Accessing first item of List1

print(List1[0])
print(List2[2])

# Update the value of list

List1[1]=500
print(List1)

# Accessing list within the list

print(List2[2][0]) #it will first access the value at index 2 in List2 [in this case that is list itself], then we give the index position of the item we want from second list
#So whenever we have nested list and we want to access any value from inside list, then first give the reference to that list and the reference of object within that list
#Here [2] represent position of nested list and [0] represent the object we need from nested list`

In [ ]:
# We can define the list outside and call that variable directly in the list
name=["Vikas","Pankaj"]
age=["25","28"]
details=[name,age]
print(details)

# We can have duplicate values in list

details2=[name, name, age]
print(details2)

In [ ]:
# Negative Indexing
# It start from Right [last element] to left[first element].
#it start from -1 to -n

# example: ["A","B","C","D"] ==[-4,-3,-2,-1]

List1=["A",200,1.5]
print(List1[-1])

In [ ]:
# Manipulation of List

In [ ]:
# Changing value - You can change the value of list by using index as a reference

List1=["A",200,1.5]
List1[0]="B" # It will change the value of 0 index in List1 [That said A will get replace by B]
print(List1)

In [ ]:
# Append the list [Add additional elements in the list at the end]

l=[1,2,3]

#Objective: I want to add 4 at the end of list

l.append(4)
l

l.append("Vikas") # We can add one element at a time using append
l

l.append([1,2,3,4]) # We can add list as well at the end using append as python will cosider the entire list as one object
l

In [ ]:
# POP : it is opposite of APPEND
# it remove the specified element from the list

l=[1,2,3,4]
print(l)
l.pop() #If nothing is mentioned in (), then it will delete last item from the list
print(l) # It removed 4 from the list as 4 was the last element of the list l

In [ ]:
#if i want to delete any specific element from the list, just provide the index reference to POP function

l=[1,2,3,4]
l.pop(1) #it will delete the 2nd element
l

In [ ]:
l=[1,2,3,[1,2,3,4,5,6]]
l.pop()
l

In [ ]:
l=[1,2,3,[1,2,3,4,5,6]]
l.pop(3,3) # We cannot delete any specific item of nested list using POP.
l

In [ ]:
# If I want to add any number somewhere in between the existing list not at the end of list then we can use INSERT function

l=[1,2,3,4] #i want to add "5" in between 2 &3
l.insert(2,5) #insert(index where you want to insert the value, value)
l
l.insert(3,"Vikas")
l

In [ ]:
# Remove: delete the first occurance of the specified value from the list

L=[10,20,30,10,10,40,10,50,10]
L.remove(10) #it deleted first 10
L

In [ ]:
# Searching in the list

l=[10,20,30,40]

# Question: We have to check whether 10 is a part of this list or not

target=10

if target in l: #IN is inbuild function to search something in specified list or range
    print("Yes")
else:
    print("No")

In [ ]:
# Index function:
# Given the list, find the index of the target number which we are searching in the list

Target=40
l=[10,20,30,40,50]

print(l.index(40))
print(l.index(Target))
print(l.index(20))
print(l.index(50))
print(l.index(100))

In [ ]:
l=[10,20,30,10]
print(l.index(10))# so index return the index value of first occurance of target number
print(l.index(10,2)) # If you want index number of "nth" occurence of target, then just add the occurence number in the fuction

#list.index(target, occurance number)

In [ ]:
# Difference between IN & INDEX
# IN just search whether the specified value is present in the list or not BUT INDEX search and return the index of target value as an output

In [ ]:
### LINEAR SEARCH

# Given a list of integers and a target number, find and print the index of the target from the list
# CHALLENGE: DO NOT USE ANY INBUILD METHODS

target=30
l=[10,20,30,40]

for i in range(len(l)):
    if l[i]==target:
        print(i)

In [ ]:
# Copy of a list

A=[1,2,3,4]
B=A
B

In [ ]:
B[0]=1000
print(A)

#This will not work because if we use = for creating new list, any change in any one list will impact the other list as well

In [ ]:
#So we can copy using two ways
#Way 1: .copy()

A=[1,2,3,4,5]
B=A.copy()
print(B)

In [ ]:
#Way 2:

A=[1,2,3,4,5,6]
B=list(A)
B

In [ ]:
#Split Function [It break down the string by space]
"Hello I love my India"==> Hello, I, Love, My, India [Split function by default return the LIST]

In [ ]:
A=input()
B=A.split()
B

# Here the element in list will be STRING...

In [ ]:
#Split the input in list but before that convert the type to int from string...

In [ ]:
# Method 1
A=input()
B=A.split()
C=[]
for i in range(0,len(B)):
    C.append(int(B[i]))
print(C)

# Method 2
A=input()
B=A.split()
C=[]
for i in B:
    C.append(int(i))
print(C)

In [ ]:
#Given an array, compute the SUM of all element in it

A=input()
B=A.split()
add=0
C=[]
for i in B:
    C.append(int(i))
for j in C:
    add=add+j
print(add)

In [ ]:
#Given an array, Find the maximum value in it

A=input()
B=A.split()
ans=-float("inf")
for i in range(0,len(B)):
    ans=max(ans,int(B[i]))

print(ans)

In [ ]:
# Given an array & target number, find the number of occurences of the target number in the array

A=input()
B=A.split()
C=int(input())
count=0
for i in B:
    if int(i)==C:
        count=count+1
    else:
        continue
print(count)

In [ ]:
# Given an array and an increment number, generate a new array which contain all values of original array increased by increment value

A=input()
B=A.split()
C=int(input())
D=[]
for i in B:
    D.append(int(i)+C)
print(D)

In [ ]:
# Given an array, generate a new array containing squares of all numbers

A=input()
B=A.split()
C=[]
for i in B:
    C.append(int(i)*int(i))
print(C)

In [ ]:
# Given an array, filter out all odd numbers

A=input()
B=A.split()
C=[]
for i in B:
    if int(i)%2==1:
        C.append(int(i))
    else:
        continue
print(C)

In [ ]:
######## LIST SLICING ##############

In [ ]:
# Whenever we need small portion of list not the entire list, we do use list slicing concept

In [ ]:
# Syntax is A[Start Value Index :End Value Index :Increment] Note that,
# the End value is exclusive hence give the end value index as N+1 if you want to pull the results till Nth index value
#Increment index gap between two numbers [Default value is 1]

A=[1,2,3,4,5,6,7] #index ==>[0,1,2,3,4,5,6] I want to extract slice [2,3,4,5] ==> index[1,2,3,4]
A[1:5:1]

In [ ]:
# Whenever we have negative increment the default start value is index -1 and default end value is (-length-1)

A=[1,2,3,4,5]
A[ : :-1] # This will start by default from -1 and move to left direction till before -6 index i.e, index -5

# The result will be exact reverse of the given list

In [ ]:
A="Hello"
A[::-1]

In [ ]:
pip install nbconvert

# Section 5: List

In [ ]:
##### 2D Lists #####

In [ ]:
# Iterating 2D lists #

In [ ]:
# While giving the input for Matrices, it is mendentory to provide number of rows & number of columns.

In [ ]:
row,col=map(int,input().split()) # We read row in matrix, means if there are 3 rows we need three list within a list.

A=[]
for i in range(row): #this loop will run number of times equal to the number of rows
    row=list(map(int,input().split()))
    A.append(row)
print(A)

In [ ]:
# Challenge: Given 2 Matrices, find their sum.

A=[[1,2,3],[4,5,6],[7,8,9]]
B=[[2,2,3],[2,4,5],[-1,-1,0]]
C=[]
for i in range(len(A)):
    row=[]
    for j in range(len(A[i])):
        row.append(A[i][j]+B[i][j])
    C.append(row)
print(C)

In [ ]:
# Challenge: Given a matrix, find the sum of each row

A=[[1,2,3],[4,5,6],[7,8,9]]
B=[]
for i in range(len(A)):
    add=0
    for j in range(len(A[i])):
        add=add+A[i][j]
    B.append(add)
print(B)

In [ ]:
# Challenge: Given a square matrix check if it is an identity matrix

A=[[1,0,0],[0,1,0],[0,0,1]]
B=[]
for i in range(len(A)):
    row=[]
    for j in range(len(A[i])):
        if (i==j):
            row.append(1)
        else:
            row.append(0)
    B.append(row)

if A==B:
    print("Identity Matrix")
else:
    print("Not an identity matrix")

In [ ]:
# Challenge: Given a square matrix check if it is an identity matrix

A=[[1,0,0],[0,1,0],[0,0,1]]
ans="Identity Matrix"
for i in range(len(A)):
    for j in range(len(A[i])):
        if (i==j and A[i][j]==1):
            continue
        elif (i!=j and A[i][j]==0):
            continue
        else:
            ans="Not an identity matrix"
print(ans)

In [ ]:
# Challenge: Given a square matrix, compute the sum of it's diagonal matrix

A=[[5,1,3],[1,7,8],[1,1,0]]
ans=0
for i in range(len(A)):
    for j in range(len(A[i])):
        if (i==j):
            ans=ans+A[i][j]
        else:
            continue
print(ans)

In [ ]:
# Challenge: Given a square matrix, compute the sum of it's diagonal matrix [Method 2]

A=[[5,1,3],[1,7,8],[1,1,0]]
ans=0
for i in range(len(A)):
    ans=ans+A[i][i]
print(ans)

In [ ]:
# Challenge: Find determinant of square matrix

In [ ]:
# Challenge: Find mutiplication of two matrices

In [ ]:
# Challenge: Find inverse of square matrix

In [ ]:
################# MODULE in Python ###############

In [ ]:
# Whenever we want to fetch code from different files, we can use module instead of rewriting entire code again

In [ ]:
# default value of print(__name__) is __main__

In [ ]:
# if the file you have executed is same in which you are running the code then the value of __name__ will be __main__
# if the file you have executed is not the same which you are running the code (you have imported one in another), the ..
# ... value of __name__ will be the name of model whose code we are running

# Section 6: String

In [ ]:
########### STRINGS ###########

In [ ]:
# it is used to store character data i.e, it is a set of characters [characters can be anything, letter, number, special character, etc.]

In [ ]:
A="Hello World"
B='Hello World' # We can use either " " or ' ' to represent strings

In [ ]:
# As a standard python accept string in one line...
# If we want to create MULTILINE string, write the string using thriple quote """...........""" or '''......'''

A='''Vikas
Dubey'''

print(A,sep=" ")

In [ ]:
# String works same as list in case of INDEX

# in VIKAS the INDEX will be 01234 means 0==V, 1==I, 2==K, 3==A, 4==S... Similarly we have negative indexing as well like list

A="Vikas"
A[1]

In [ ]:
# List are IMMUTABLE because whenever we do any edit, that changes the value but python store the new value to different location
# that means the original one will lost in memory but it was not changed..

In [ ]:
A = "Vikas"
A="Dubey" # Here VIKAS is getting replaced by DUBEY and VIKAS is lost in memory now and we cannot trace that.. For tracing we have to store that using another variable
A

In [ ]:
# Length of string
A="VIKAS"
len(A)

In [ ]:
# Concatenation of string

A="Vikas"
B="Dubey"
C=A+" "+B #using + we can concatenate any string
C

In [ ]:
A="Vikas "Dubey" " # We cannot have double quote within double quote
A
B = 'Vikas 'Dubey'' # We cannot have single quote within single quote
B

In [ ]:
A='Vikas "Dubey" ' # We can have double quote within Single quote
A

In [ ]:
A="Vikas 'Dubey'" # We can have single quote within double quote
A

# Conclusion: We can have mixture of quotes but we cannot have same quote within that

In [ ]:
# Repetation

A="Vikas"
print(A*5)

B="1234"
print(B*2)

In [ ]:
# IN Operator - Checks whether the target string is a part of given string or not
# if target string exist in given string the output will be TRUE else FALSE

In [ ]:
A="Vikas will become a successful politician in future"
B="future"
B in A

In [ ]:
# we can write above using If & else

if "future" in A:
    print("Found")
else:
    print("Not Found")

In [ ]:
# Count () function ==> COunt the number of occurence of target string

In [ ]:
A="Vikas is a good cricketer"
print(A.count("i"))
print(A.count("e"))
print(A.count("good"))

In [ ]:
# find ( ) function ==> It allows to find the index of finrt occurence of target string in the given string

A="Vikas Dubey"
print(A.find("i"))

In [ ]:
A="Vikas Dubey is"
print(A.find("is")) # return the index of first letter of the target word, in this case "i" [the position from the word starts]

In [ ]:
#Let's say we want index of next occorence of i

A="Vikas Dubey is"
idx=A.find("i") # first store the index of first occurence of target in one variable
print(A.find("i",idx+1)) # idx+1 means the position from where python will start searching the target character..
# here idx+1=0+1=1 means the python will start searching "i" after 1st index

In [ ]:
# replace( ) function

A="Python is amazing"

# want to replace AMAZING with AWESOME

print(A.replace("amazing","awesome")) # A.replace(what you want to replace, with whom you want to replace)

In [ ]:
A="Python is amazing, Prograaming in Python is amazing"
print(A.replace("amazing","awesome"))

In [ ]:
## lower( ), upper( ) function ==> Convert the case from upper to lower and wise versa

In [ ]:
A="Vikas"
print(A.lower()) # Convert all in lower case
print(A.upper()) # convert all in upper case
print(A) # It will print original value of A, that means LOWER or UPPER will not change the original value

In [ ]:
### Looping over strings ###

In [ ]:
A="Vikas Dubey"

for i in A:
    print(i,end="")

In [ ]:
## To get ASCII number for any character

print(ord("A")) # The ASCII value of capital A is 65

In [ ]:
# If we have ASCII value, using that we can extract the character.

print(chr(65))

In [ ]:
## Pattern using ASCII value

c=65
n=4
for i in range(n):
    print((chr(c)+" ")*(i+1))
    c=c+1

In [ ]:
# String Slicing [Same as list slicing]

In [ ]:
A="Vikas"
A[::-1] #Reverse

In [ ]:
### STRIP FUNCTION ####

In [ ]:
# Strip is used to remove extra spaces from the string
#lstrip => Remove extra spaces from left
#rstrip=> Remove extra spaces from right
#strip=> Remove extra spaces from both left & right

In [ ]:
A="      Vikas Dubey          "
print(A.lstrip())
print(A.rstrip())
print(A.strip())

In [ ]:
# To remove space between words, we have to use replace( ) function
A="Vikas      Dubey"
A.replace("      ","")

In [ ]:
# To apply strip in user input
A=input()
A.strip()

In [ ]:
A=input().strip()
print(A)

In [ ]:
## Reverse the order of words

# The objective is not to reverse the entire statement like "sdrow fo redro....." but to reverse the words within statement
# Example "Reverse the order of words" ==>"words of order the Reverse"

In [ ]:
A="Reverse the order of words"

In [ ]:
B=A.split()
B

In [ ]:
B=B[ : :-1] # or you can use reverse() function as well [B.reverse()]
B

In [ ]:
S=""
for i in B:
    S=S+" "+i
print(S)

In [ ]:
type(S)

In [ ]:
# Alternate method or recommended methos is Join( ) function

S=" ".join(B) #" " means the separater, so join will take each element from the list and join and use the character in "" as separater
print(S)

In [ ]:
#if we need "_" as separater

S="_".join(B)
print(S)

In [ ]:
## Reverse each word individually in the string

# "vikas dubey is a good singer" ==> "sakiv yebud si a doog regnis"

In [ ]:
A="vikas dubey is a good singer"
B=A[ : :-1]
print(B)

In [ ]:
B=B.split()
print(B)

In [ ]:
B=B[ : :-1]
print(B)

In [ ]:
C=" ".join(B)
print(C)

In [ ]:
# Alternate Method
A="vikas dubey is a good singer"
A=A.split()
for i in range(len(A)):
    A[i] = A[i][ : :-1]
A

In [ ]:
B=" ".join(A)
B

In [ ]:
#### FORMAT STRINGS ######

In [ ]:
# There are 5-6 methods to format the strings..

In [ ]:
# Method 1: Concatenate

apple_count=4
orange_count=10
S="I have "+str(apple_count)+" apples and "+str(orange_count)+" oranges"
S

In [ ]:
# Method 2: f-string method [it is available in python 3.6 or higher version, not in the lower version]

In [ ]:
A=f"I have {apple_count} apples and {orange_count} oranges" # by using this function we can format any string

#{} is used to pass the variable name whose value you wanna use in the string
# Much more cleaner than first syntax
A

In [ ]:
# Method 3: format method [it works in all the version of python]

S="I have {} apples and {} oranges".format(apple_count,orange_count) #in format mention the variable whose value we want in str
#the order should be same other wise it will take wrong values
S

In [ ]:
######## There are 44 functions are in STRING , it is impossible to remember everything but in future we can use either if required##########

https://www.scaler.com/topics/python/string-methods-python/

In [ ]:
## Docstrings [it is use to write and store brief or description about your code]##
# It can be multiline string which we have to mention in the start of the class or function #

def square(x):
    '''It will return the square of given variable '''
    return x**2
help(square)

In [ ]:
# You are given two character strings A and B.
# You have to find the first occurrence of string B in string A, as a substring,
# and return the starting position of first occurrence.
# A substring is a contiguous sequence of characters within a string. For e.g "at" is a substring in "catalogue".

class Solution:
    # @param A : string
    # @param B : string
    # @return an integer
    def solve(A, B):
        if A.count(B)>0:
            return A.find(B)
        else:
            return -1
    A="Vikas is a good boy"
    B="ods"
    C=solve(A,B)
    print(C)

In [ ]:
import numpy as np

A=8
cb=pow(A,1/3)
cb

# Section 7: Sets & Disctionary

In [ ]:
A = {}

# or

A=dict()

In [ ]:
type(A)

In [ ]:
csk= {"MS DHONI": [40,"India",4000], "Jadeja":[34,"India",2500]}
print(csk)
print(type(csk))

In [ ]:
csk2=dict({"MS DHONI": [40,"India",4000], "Jadeja":[34,"India",2500]})
print(csk2)
print(type(csk2))

In [ ]:
csk3=dict([("MS Dhoni",40),("Jadeja",34)]) # So we can use tuples as well to define key:value pair in disctionary
print(csk3)
print(type(csk3))

#### How to access elements from Dictionary

In [ ]:
# In case of Dictionary, we will access the element using KEYS not INDEX VALUE

In [ ]:
csk2["Jadeja"]

In [ ]:
csk2["Rohit"] # Error Because No Key called "Rohit" available in Dictionary

In [ ]:
csk2.get("MS DHONI") #This is another way to call the element from dictionary [variable.get("Key")]

#### Adding or updating an element

In [ ]:
# Single entry
csk2["Gaikward"]=[39,"India",2300]  # Variable["Key"]=[Values]
print(csk2)

In [ ]:
# Disctionary are Mutable

In [ ]:
# Add multiple entries in one go

csk2.update({"Moin":[30,"SA",1000],"Bravo":[38,"WI",2300]})
print(csk2)

In [ ]:
csk2["Bravo"]=[38,"WI",3000]
csk2

In [ ]:
# To access specific value for any Key, since the value is in list we can use index value to read the specific value, here runs
csk2["MS DHONI"][2]

In [ ]:
# We can add or remove any value in the list
csk2["MS DHONI"][2]=csk2["MS DHONI"][2]+50

In [ ]:
csk2

In [ ]:
# How to Delete element from the Dictionary

In [ ]:
csk2.pop("Bravo") # To delete value from Dict

In [ ]:
csk2

In [ ]:
# Dictionary can't have same KEY multiple time i.e, duplication of KEY is not possible in Dictionary

In [ ]:
# Alternate option is

del csk2["MS DHONI"]

In [ ]:
csk2

In [ ]:
# Methods

# how to get all the keys present in dictionary

In [ ]:
csk2.keys()

In [ ]:
csk2.values() # To get all the values of Disctionary

In [ ]:
csk2.items()

In [ ]:
csk2.popitem() # Deleted last value from the dictionary, don't accept any argument

In [ ]:
csk2.clear() # Clear the entire dictionary and convert the dictionary as EMPTY DICT

In [ ]:
csk2

In [ ]:
csk4=csk2.copy() # To copy any dictionary

In [ ]:
csk4

In [ ]:
# Iterate a Dictionary

for key,value in csk2.items():
    print(key,":",value)

In [ ]:
# Write a dictionary with number from 1 to 10 as key and their square as value

Sqr={}
for i in range(1,11):
    Sqr.update({i:i*i})

print(Sqr)

In [ ]:
# Alternative Method

Sqr2={i:i*i for i in range(1,11)}
Sqr2

In [ ]:
# in case of any conditins

Sqr2={i:i*i for i in range(1,11) if i%2==0}
Sqr2

In [ ]:
# Given the list, multiply with some number in values

A={"a":10,"b":20,"c":30}
B=100
for i,j in A.items():
    A.update({i:j*B})
print(A)

In [ ]:
# Alternative method

A={"a":10,"b":20,"c":30}
B=100
C={i:j*B for i,j in A.items()}

In [ ]:
print(C)

In [ ]:
### Nested Disctionary [Dictionary within Dictionary]

In [ ]:
ipl={
    "CSK":{"MS Dhoni":[40,"IND",2500],"Bravo":[38,"WI",2000]},
    "MI":{"Rohit":[33,"IND",3000],"Kishan":[22,"Ind",2000]}
}

In [ ]:
ipl["CSK"]

In [ ]:
ipl.get("CSK")

In [ ]:
ipl["CSK"]["MS Dhoni"]

In [ ]:
ipl.get("CSK").get("MS Dhoni")

In [ ]:
type(ipl["CSK"]["MS Dhoni"])

In [ ]:
ipl["CSK"]["MS Dhoni"][2]

In [ ]:
### SETS #####

In [ ]:
# How to create a set

A=set()
type(A)

In [ ]:
B={}
type(B)

In [ ]:
C=set({1,2,3,4,5})
print(type(C))
print(C)

In [ ]:
D={1,2,3,4,5,6,7}
print(type(D))
print(D)

In [ ]:
# In totality, we can define a set using {} or set() method.
# We can enter the elements like {1,2,3,4} or set({1,2,3,4})

In [ ]:
E={1,2,3,4,4,4,4,4,5} # The repetation is not allowed in set, hence the python will consider only unique vale
E

In [ ]:
F={3,2,1,4,5} #  the software will automatically arrange numbers in ascending order
F

In [ ]:
G={"v","d","a"} #  the software will automatically arrange letters in Alhabatic order
G

In [ ]:
# Convert string into Set

A=set("Mathematics Subject") # it will consider each letter as element of set, remove duplicacy & arrange in ASCII order
print(A)

In [ ]:
# IN TOTALITY WE WILL TREAT SET AS UNORDERED because Order is not at all important in SET

In [ ]:
sentence = "be the change you wish to see in the world" # Find out the unique WORDS from this string

A=set(sentence.split()) # So basically SPLIT method divide the strings using space as separater [default separater value] and create a list
A

In [ ]:
## How to add element in set

In [ ]:
A={1,2,3,4,5}

In [ ]:
A.add(6) # Adding single value
print(A)

In [ ]:
A.update({7,8,9}) # For adding multiple element at a time, use UPDATE method instead of ADD
                    #[write a sub-set you wanna add under update method using {} or [] or ()]
                    # You can also use UPDATE method to add single value as well but write the number in {} or

A

In [ ]:
A.update([10,11,12])
A

In [ ]:
A.update([13])
A

In [ ]:
A.update({14})
A

In [ ]:
A.update((15,16))
A

In [ ]:
A.update((17)) # For enter single value using UPDATE, we need value in {} or [], but not ()
A

In [ ]:
# Delete element from the set [discard & remove are the methods we use to delete any value from the set]

In [ ]:
A.discard(16)
A

In [ ]:
A.discard(5)
A

In [ ]:
A.remove(3)
A

In [ ]:
A.pop() # Here POP works differently, it will by default delete first element of the SET
A

In [ ]:
A.pop()
A

In [ ]:
# Union of sets

In [ ]:
a={1,2,3,4,5}
b={5,6,7,8}
a.union(b)

In [ ]:
a|b # Another way to find unioun

In [ ]:
# Intersection

a.intersection(b)

In [ ]:
c={1,2,3}
d={4,5,6}
c.intersection(d)

In [ ]:
# Alternative of intersection method

a&b

In [ ]:
# Difference in Sets

In [ ]:
a.difference(b) # A-b ==> Remove all element of B from A

In [ ]:
b.difference(a) # b-a ==> remove all element of a from b

In [ ]:
# Symmetric difference [A+B-intersection] ==> symbol ^ [A^B]

a.symmetric_difference(b)

In [ ]:
c.isdisjoint(d) # Disjoint means mutually exclusive that said no element common in both the sets [If yes==> output - True otherwise False]

In [ ]:
a.issubset(b)

In [ ]:
a={1,2,3}
b={1,2,3,4,5,6}
print(a.issubset(b))

print(b.issubset(a))
print(a.issuperset(b))
print(b.issuperset(a))

In [ ]:
# Assignments

In [ ]:
List=[10,10,10,20,20,30]
dict= {}
count, result = 0, " "
for item in reversed(List):
    dict[item] = dict.get(item,0)+1
     if dict[item] >= count:
        count, result = dict[item],item

print(count,result)
print(dict)

In [ ]:
most_frequent([10,20,10,10,20,30])

In [ ]:
str1="I LOVE PYTHON"
print(type(str1))
A={}
for i in str1:
    print(i,end=" ")
    A[i]=str1.count(i)
print(A)

In [ ]:
dict={1:10,2:20,3:30}
ans = 0
A=list(dict.values())
for i in A:
    ans=ans+i
print(ans)

In [ ]:
dict1={1:10,2:20,3:30}
dict2={3:10,4:25,5:55}
dict3 = {}
for i,j in dict1.items():
    for k,l in dict2.items():
        if i==k:
            dict3[i]=j+l
            #dict3.update({i:j+l})
        else:
            continue
print(dict3)

In [ ]:
dictionary={"a":[1,2,3,4,5],"b":[1,2,3,3,3,3,3,4,4,4,5,5,5,6,6]}
max_val = 0
max_key = None
A=list(dictionary.values())
C=list(dictionary.keys())
for i in range(len(A)):
    B=set(A[i])
    if len(B)>max_val:
        max_val=len(B)
        max_key=C[i]
print(max_key)

In [ ]:
# How to merge two dictionaries

d1={"a":100, "b":200}
d2={"x":300, "y":400}
d3={}
d3.update(d1)
d3.update(d2)
print(d3)

In [ ]:
# Find sum of all the values of dictionary

my_dict={"data1":100, "data2":-54,"data3":247}
sum(my_dict.values())

In [ ]:
# Write a function that takes a list of numbers and return a list with two elements
 # --> The first element should be the sum of all the even numbers in the list
   # --> The second element should be the sum of all the odd numbers in the list

A=list(map(int,input().split()))
def addition(A):
    ans_even=0
    ans_odd=0
    for i in A:
        if i%2==0:
            ans_even+=i
        else:
            ans_odd+=i
    B=[ans_even,ans_odd]
    return B

addition(A)

In [ ]:
# Method 2

def addition_method2(A):
    ans_even=0
    ans_odd=0
    B=[i for i in A if i%2==0]
    C=[i for i in A if i%2==1]
    D=[sum(B),sum(C)]
    return D

addition_method2([1,2,3,4])

In [ ]:
# Create a function that takes two list of numbers sorted in ascending order and returns a list of no. which are common...
#... to both the lists

def common_members(A,B): # A & B are input lists
    A=sorted(A)
    B=sorted(B)
    C=[]
    for i in A:
        for j in B:
            if i==j:
                C.append(i)
    return list(set(C))

common_members([2,1,3,4,7,9],[4,1,5,7,9])

In [ ]:
# Method 2 : Simplest one using concept of SET

def common_members(A,B): # A & B are input lists
    return list(set(A)&set(B))

common_members([2,1,3,4,7,9],[4,1,5,7,9])

In [ ]:
# Create a function that takes a list of strings & return a dictionary
# input list is ["1=one","2=two","3=three","4=Four"]

def list_to_dict(A):
    B=[]
    C={}
    for i in range(len(A)):
        B.append(list(map(str,A[i].split("="))))
    for i in range(len(B)):
        C[B[i][0]]=B[i][1]
    return C

list_to_dict(["1=one","2=two","3=three","4=Four"])

In [ ]:
# Method 2:

def list_to_dict(A):
    return dict(i.split("=") for i in A)

list_to_dict(["1=one","2=two","3=three","4=Four"])

# Section 8: Tuple

In [ ]:
####### TUPLES #######

In [ ]:
# Sometime, when we are working on any project ans we want any array which we cannot edit or the array won't be editable,
# this is called Tuples... List is something we can edit anytime but tuple is not editable....

#Egaxmple: A=(1,2,3,4,5) ==> We use ( ) to define tuple

In [ ]:
A=(1,2,3,4,5)
type(A)

In [ ]:
#Let's try to modify the data withing tuple to check whether really tuples are non-editable or it is a myth....

In [ ]:
A=(1,2,3,4,5)
A[0] # Referring the index number 0 and returning the respective value

In [ ]:
# Let's try to change 3rd value (index 2) of A from 3 to 100.

A[2]=100
A # It says tuple does not support item assignment that means changes is not possible in tuple, it is always frozen or fixed

In [ ]:
# Whenever you need immutable (not editable) data in an array use TUPLE not LIST

In [ ]:
# Inserting element, removing element, replacing element is not allowed in tuple

In [ ]:
# So whenever we are 100% want to make our array non-editable then use tuple.
# If we want to give scope of future updation to array then use List.

In [ ]:
# How to create tuple
T=()
T2=tuple()
print(type(T))
print(type(T2))

In [ ]:
# Convert from list to tuple
L=[1,2,3,4,5]
T=tuple(L)
print(T)

In [ ]:
# Convert from tumple to list
T=(1,2,3,4,5)
L=list(T)
L

In [ ]:
# So whenever we need to edit TUPLE, conert it to LIST and do the changes and reconvert again as TUPLE

In [ ]:
A=("a","b","c","d")
A=list(A)
A.append("E")
print(A)
A=tuple(A)
A

In [ ]:
A=1,2,3,4 # it will store as tuple only
print(A)
print(type(A))

In [ ]:
# Given an array, check if the array is in increasing order or not

A=(1,2,4,3,5,6)
print(len(A))
for i in range(len(A)-1):
    if A[i]<A[i+1]:
        print("Yes")
    else:
        print("No")
        break

In [ ]:
#Efficient Method

A=(1,2,3,4,5,6)
ans="Yes"
for i in range(len(A)-1):
    if A[i]<A[i+1]:
        continue
    else:
        ans="No"
        break
print(ans)

In [ ]:
#### MAP FUNCTION ####

In [ ]:
# map(function, iterable) ==> iterable could be anything list, tuple, sets, etc.

In [ ]:
#Given an array, generate a new array containing squares of all numbers.

A=(1,2,3,4,5,6)
def square(x):
    return x**2
B=[]
for i in A:
    B.append(square(i))
print(B)

In [ ]:
#By using map we can execute above in one line

A=(1,2,3,4,5)
def square(x):
    return x**2
B=list(map(square,A)) # Just call the name of function, no need to use () in from of function
B

In [ ]:
a,b,c=map(int,input().split())
print(a,b,c)

In [ ]:
#### 2D List #### [Two dimention list ==> The list which have list inside that]

In [ ]:
# Python allow us to store a list inside list called nested list

In [ ]:
# In python, we can use 2D list to write matrix [We will enter each row as a list within the original list]

In [ ]:
A=[[1,2,3],[4,5,6],[7,8,9]]
print(A)

In [ ]:
print(A[0])
print(A[1])
print(A[2])

In [ ]:
# Alternative method to print each row separately

A=[[1,2,3],[4,5,6],[7,8,9]]
for i in A:
    print(i)

In [ ]:
# Print each column separately

A=[[1,2,3],[4,5,6],[7,8,9]]
for i in range(len(A)):
    for j in range(len(A)):
        print(A[j][i],end=" ")
    print()

In [ ]:
def solve(A, B):
    ans=0
    for i in range(len(B)-1):
        for j in range(i+1,len(B)):
            if B[i]+B[j]==A:
                ans=1
            else:
                continue
    return ans

solve(A=100,B=[10,23,52,95,29,9,47,49,55,96,4])

# Exercise

In [ ]:
# Given the value of N, print the below pattern

**********
****  ****
***    ***
**      **
*        *

# Given N=5, print the below pattern

*        *
**      **
***    ***
****  ****
**********

# Given N=5, print the below pattern


# Given N=5, print the below pattern

N=5
for i in range(N):
    for j in range(N-i):
        print("*",end="")
    for j in range(2*i):
        print(" ",end="")
    for j in range(N-i):
        print("*",end="")

**********
****  ****
***    ***
**      **
*        *
*        *
**      **
***    ***
****  ****
**********

# Given N, print the below pattern

1
2 3
4 5 6
7 8 9 10

# Given N=5, print the below pattern

____*_
___*_*_
__*_*_*_
_*_*_*_*_
*_*_*_*_*_



```
# Given the value of N, print the below pattern

**********
****  ****
***    ***
**      **
*        *

```

In [ ]:
data_01 = int(input("Enter Number: "))

**Logic 01**


1. Looping Through Rows
2. Printing Stars and Spaces

For Loop

In [ ]:
for i in range(data_01):
    print('*' * (data_01 - i - 1), end='')
    print(' ' * (2 * i), end='')
    print('*' * (data_01 - i - 1))

While Loop

In [ ]:
    i = 0
    while i < data_01:
        print('*' * (data_01 - i - 1), end='')
        print(' ' * (2 * i), end='')
        print('*' * (data_01 - i - 1))
        i += 1

**Logic 02**

For Loop

In [ ]:
for i in range(data_01):
    for j in range(data_01-i):
        print("*",end="")
    for j in range(2*i):
        print(" ",end="")
    for j in range(data_01-i):
        print("*",end="")
    print()

While Loop

In [ ]:
i = 0
while i < data_01:
    j = 0
    while j < data_01-i:
        print("*",end="")
        j += 1
    j = 0
    while j < 2*i:
        print(" ",end="")
        j += 1
    j = 0
    while j < data_01-i:
        print("*",end="")
        j += 1
    print()
    i += 1



```
# Given the value of N, print the below pattern

*        *
**      **
***    ***
****  ****
**********
```

In [ ]:
data_02 = int(input("Enter Number: "))

**Logic 01**


1. Looping Through Rows
2. Printing Stars and Spaces

For Loop

In [ ]:
for i in range(data_02,-1,-1):
    print('*' * (data_02 - i - 1), end='')
    print(' ' * (2 * i), end='')
    print('*' * (data_02 - i - 1))

While Loop

In [ ]:
    i = data_02
    while i >-1:
        print('*' * (data_02 - i - 1), end='')
        print(' ' * (2 * i), end='')
        print('*' * (data_02 - i - 1))
        i -= 1

**Logic 02**

For Loop

In [ ]:
for i in range(data_02,-1,-1):
    for j in range(data_02-i):
        print("*",end="")
    for j in range(2*i):
        print(" ",end="")
    for j in range(data_02-i):
        print("*",end="")
    print()

While Loop

In [ ]:
i = data_02
while i > -1:
    j = 0
    while j < data_02-i:
        print("*",end="")
        j += 1
    j = 0
    while j < 2*i:
        print(" ",end="")
        j += 1
    j = 0
    while j < data_02-i:
        print("*",end="")
        j += 1
    print()
    i -= 1



```
# Given N, print the below pattern

1
2 3
4 5 6
7 8 9 10

```

For Loop

In [ ]:
current_number = 1
for i in range(1, data_02 + 1):
    row_numbers = []
    for j in range(i):
        row_numbers.append(str(current_number))
        current_number += 1
    print(' '.join(row_numbers))

While Loop

In [ ]:
current_number = 1
i = 1

while i <= data_02:
    row_numbers = []
    j = 0
    while j < i:
        row_numbers.append(str(current_number))
        current_number += 1
        j += 1
    print(' '.join(row_numbers))
    i += 1



```
# Given N=5, print the below pattern

____*_
___*_*_
__*_*_*_
_*_*_*_*_
*_*_*_*_*_

```

For Loop

In [ ]:
for i in range(data_02):
    padding = '_' * (data_02 - i - 1)
    stars = '*_' * (i + 1)
    print(padding + stars.rstrip('_'))

While Loop

In [ ]:
i = 0
while i < data_02:
    padding = '_' * (data_02 - i - 1)
    stars = '*_' * (i + 1)
    print(padding + stars.rstrip('_'))
    i += 1

**Exercise : List and Matrix**

1. Given an array & target number, find the number of occurrences of the target number in the array
2. Given an array and an increment number, generate a new array which contain all values of original array increased by increment value
3. Given an array, generate a new array containing squares of all numbers
4. Given an array, filter out all odd numbers
5. Given 2 Matrices, find their sum.
6. Given a matrix, find the sum of element of each row
7. Given a square matrix check if it is an identity matrix
8. Given a square matrix, compute the sum of it's diagonal element
9. Find determinant of square matrix
10. Find multiplication of two matrices
11. Find inverse of square matrix

In [ ]:
# Just Used For Answer Verification
import numpy as np

In [ ]:
data_01 = [[1,8,9],[8,414,28],[56,4,8]]
data_02 = int(input("Enter a number for further : "))
data_05 = np.array(data_01)

In [ ]:
def same_dimension_01(data_01,data_02):
    for i in range(min(len(data_01),len(data_02))):
        if len(data_01[i]) == len(data_02[i]):
            return True
        else:
            return False

In [ ]:
def is_square_matrix(data):
    if all(len(row) == len(data) for row in data):
        return True
    else:
        return False

In [ ]:
def can_multiply(matrix1, matrix2):
    rows1 = len(matrix1)
    cols1 = len(matrix1[0]) if rows1 > 0 else 0
    rows2 = len(matrix2)
    cols2 = len(matrix2[0]) if rows2 > 0 else 0
    return cols1 == rows2

**1. Given an array & target number, find the number of occurrences of the target number in the array**

For Loop

In [ ]:
dummy_01,dummy_02 = False ,[]
for i in range(len(data_01)):
    for j in range(len(data_01[i])):
        if data_01[i][j] == data_02:
            dummy_01 = True
            dummy_02.append((i,j))
if dummy_01 == True:
    print("Number found")
    print(f"{dummy_02} is residing {data_02}'s loaction")
    print(f"{len(dummy_02)} times number {data_02} is repated")
else:
    print("Number not found")

While Loop

In [ ]:
dummy_01,dummy_02 = False ,[]
i = 0
while i < len(data_01):
    j = 0
    while j < len(data_01[i]):
        if data_01[i][j] == data_02:
            dummy_01 = True
            dummy_02.append((i, j))
        j += 1
    i += 1

if dummy_01 == True:
    print("Number found")
    print(f"{dummy_02} is residing {data_02}'s loaction")
    print(f"{len(dummy_02)} times number {data_02} is repated")
else:
    print("Number not found")

Numpy

In [ ]:
print(f"{np.sum(data_05 == data_02)} times number {data_02} is repated")

**2. Given an array and an increment number, generate a new array which contain all values of original array increased by increment value**

In [ ]:
data_03 = []
for i in range(len(data_01)):
    data_04 = []
    for j in range(len(data_01[i])):
        data_04.append(data_01[i][j] + data_02)
    data_03.append(data_04)
print(f"{data_01} is Original List \n {data_03} is Incremented List")

While Loop

In [ ]:
data_03 = []
i = 0
while i < len(data_01):
    data_04 = []
    j = 0
    while j < len(data_01[i]):
        data_04.append(data_01[i][j] + data_02)
        j += 1
    data_03.append(data_04)
    i += 1
print(f"{data_01} is Original List \n {data_03} is Incremented List")

Numpy

In [ ]:
print(f"{data_01} is Original List \n {(data_05 + data_02)} is Incremented List")

**3. Given an array, generate a new array containing squares of all numbers**

In [ ]:
data_03 = []
for i in range(len(data_01)):
    data_04 = []
    for j in range(len(data_01[i])):
        data_04.append(data_01[i][j]**2)
    data_03.append(data_04)
print(f"{data_01} is Original List \n {data_03} is Squared List")

In [ ]:
data_03 = []
i = 0
while i < len(data_01):
    data_04 = []
    j = 0
    while j < len(data_01[i]):
        data_04.append(data_01[i][j] **2)
        j += 1
    data_03.append(data_04)
    i += 1
print(f"{data_01} is Original List \n {data_03} is Squared List")

Numpy

In [ ]:
print(f"{data_01} is Original List \n {(data_05 **2)} is Squared List")

**4. Given an array, filter out all odd numbers**

In [ ]:
dummy_01 = []
for i in range(len(data_01)):
    for j in range(len(data_01[i])):
        if data_01[i][j] % 2 != 0:
            dummy_01.append(data_01[i][j])

print(f"{dummy_01} are odd numbers present in {data_01}")

In [ ]:
dummy_01 = []
i = 0
while i < len(data_01):
    j = 0
    while j < len(data_01[i]):
        if data_01[i][j] % 2 != 0:
            dummy_01.append(data_01[i][j])
        j += 1
    i += 1

print(f"{dummy_01} are odd numbers present in {data_01}")

**5. Given 2 Matrices, find their sum.**

For Loop

In [ ]:
if same_dimension_01(data_01, data_03):
    data_05 = []
    for i in range(len(data_01)):
        data_04 = []
        for j in range(len(data_01[i])):
            data_04.append(data_01[i][j] + data_03[i][j])
        data_05.append(data_04)
    print(data_05)
else:
    print("Matrix size is not the same")

While Loop

In [ ]:
if same_dimension_01(data_01, data_03):
    data_05 = []
    i = 0
    while i < len(data_01):
        data_04 = []
        j = 0
        while j < len(data_01[i]):
            data_04.append(data_01[i][j] + data_03[i][j])
            j += 1
        data_05.append(data_04)
        i += 1
print(data_05)

Numpy

In [ ]:
np.array(data_01)+np.array(data_03)

**6. Given a matrix, find the sum of element of each row**

For Loop

In [ ]:
for i in range(len(data_01)):
    print(f"{sum(data_01[i])} is sum of {i} row in matrix")

While Loop

In [ ]:
i = 0
while i < len(data_01):
    print(f"{(sum(data_01[i]))} is sum of {i} row in matrix")
    i += 1

Numpy

In [ ]:
np.sum(data_01, axis=1)

**7. Given a square matrix check if it is an identity matrix**

For Loop

In [ ]:
dummy = True
for i in range(len(data_01)):
    for j in range(len(data_01[i])):
        if i == j:
            if data_01[i][j] != 1:
                dummy = False
                break
        else:
            if data_01[i][j] != 0:
                dummy = False
                break
if dummy == True:
    print("It is an identity matrix")
else:
    print("It is not an identity matrix")

While Loop

In [ ]:
dummy = True
i = 0
while i < len(data_01):
    j = 0
    while j < len(data_01[i]):
        if i == j:
            if data_01[i][j] != 1:
                dummy = False
                break
        else:
            if data_01[i][j] != 0:
                dummy = False
                break
        j += 1
    i += 1


if dummy == True:
    print("It is an identity matrix")
else:
    print("It is not an identity matrix")

**8. Given a square matrix, compute the sum of it's diagonal element**

For Loop

In [ ]:
dummy = 0
for i in range(len(data_01)):
    for j in range(len(data_01[i])):
        if i == j:
            dummy += data_01[i][j]
print(f"Sum of Diagonal of given Matrix is {dummy}")

While Loop

In [ ]:
i, dummy = 0, 0
while i < len(data_01):
    j = 0
    while j < len(data_01[i]):
        if i == j:
            dummy += data_01[i][j]
        j += 1
    i += 1
print(f"Sum of Diagonal of given Matrix is {dummy}")

Numpy

In [ ]:
np.sum(np.diagonal(data_01))

**9. Find determinant of square matrix**

For Loop

In [ ]:
if is_square_matrix(data_01):
    det = 0
    for i in range(3):
        sub_det = data_01[0][i] * (
            data_01[1][(i+1) % 3] * data_01[2][(i+2) % 3] -
            data_01[1][(i+2) % 3] * data_01[2][(i+1) % 3]
            )
        det += sub_det if i % 2 == 0 else -sub_det
    print(f"Determinantof matrix : {det}")
else:
    raise Error("Data must be 3x3")

While Loop

In [ ]:
if is_square_matrix(data_01):
    det = 0
    i = 0
    while i < 3:
        sub_det = data_01[0][i] * (
            data_01[1][(i+1) % 3] * data_01[2][(i+2) % 3] -
            data_01[1][(i+2) % 3] * data_01[2][(i+1) % 3]
        )
        det += sub_det if i % 2 == 0 else -sub_det

        i += 1
print(f"Determinantof matrix : {det}")

In [ ]:
np.linalg.det(data_01)

**10. Find multiplication of two matrices**

In [ ]:
if can_multiply(data_01, data_03):
    rows_A = len(data_01)
    cols_B = len(data_03[0])
    cols_A = len(data_01[0])
    data_05 = []
    for i in range(rows_A):
        data_04 = []
        for j in range(cols_B):
            sum_product = sum(data_01[i][k] * data_03[k][j] for k in range(cols_A))
            data_04.append(sum_product)
        data_05.append(data_04)
print(f"{data_01} * {data_03} = {data_05}")

In [ ]:
if  can_multiply(data_01, data_03):
    rows_A = len(data_01)
    cols_B = len(data_03[0])
    cols_A = len(data_01[0])

    data_05 = []

    i = 0
    while i < rows_A:
        data_04 = []
        j = 0
        while j < cols_B:
            sum_product = 0
            k = 0
            while k < cols_A:
                sum_product += data_01[i][k] * data_03[k][j]
                k += 1
            data_04.append(sum_product)
            j += 1
        data_05.append(data_04)
        i += 1

print(f"{data_01} * {data_03} = {data_05}")

Numpy

In [ ]:
np.dot(data_01,data_03)

# Session 9: Regression and Correlation

In [ ]:
import pandas as pd
df1 = pd.read_excel("Data_Regression_Final.xlsx")

In [ ]:
df1.head()

In [ ]:
df1.info()

In [ ]:
df1.describe()

In [ ]:
# Correlation Analysis

In [ ]:
df1.corr()

In [ ]:
df1.corr("spearman")

In [ ]:
# Linear Regression

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import statsmodels as sts
import warnings
import scipy

In [ ]:
y=np.array(df1.Recommendation)

In [ ]:
y

In [ ]:
x=np.array([df1.Quick_in_and_out, df1.Fast_Efficient_check_out, df1.Good_Selection_of_brands, df1.Everthing_in_one_place,df1.Always_in_stock,df1.High_Quality_Products,df1.Friendly_Employees,df1.Clean_Store,df1.Employees_available_for_assistance,df1.Value_for_the_money,df1.Low_Prices,df1.Worthwhile_promotions,df1.Helpful_digital_tool]).reshape(2471,13)

In [ ]:
x

In [ ]:
x.shape

In [ ]:
print(x)

In [ ]:
# Splitting the dataset into Train set and Test set

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y , test_size = 0.2 , random_state = 21)

# test_size = value > 0 & less than 1
# test_size = 0 ==> 100% of the data is used for training
# test_size = 1 --> 100% of the data is sued for testing
#hence test_size value should never be equal to 0 or 1
# test_size = 0.2 ---> 20 % of the total data points is taken for testing while the remaining
# 80% is taken for training.

# if we have to go with the 75,25 split, what would the test_size value would be = 0.25

In [ ]:
print("Shape of train set features")
print(X_train.shape)
print("Shape of test set features")
print(X_test.shape)

In [ ]:
print("Shape of train set target")
print(y_train.shape)
print("Shape of test set target")
print(y_test.shape)

In [ ]:
# Building the Multiple Linear Regression model
# Step 1 : Import a model of our choice.
# Step 2 : Instantiate an estimator object which contains the ML model.
# Step 3 : Fit the ML model on the given data (train set)
# Step 4 : Use the model on the test set for predictions.
# Step 5 : Evaluate your model using appropriate evaluation metrics.

In [ ]:
from sklearn.linear_model import LinearRegression

model_lr = LinearRegression()

In [ ]:
model_lr.fit(X_train, y_train) # supervised ML approach

In [ ]:
print("The intercept for this Multiple Linear regression model is ",
      model_lr.intercept_)

In [ ]:
print("The regression co-efficients of the Multiple Linear regression model are :")
print("==========================================================================")
print(model_lr.coef_)

In [ ]:
y_test_predicted_value = model_lr.predict(X_test)

In [ ]:
y_test_predicted_value

In [ ]:
import pandas as pd
predictions= pd.DataFrame({'Actual': y_test, 'Predicted' : y_test_predicted_value})
predictions

In [ ]:
from sklearn.metrics import mean_squared_error
import numpy as np

print("RMSE value of the test dataset is :")

print(np.sqrt(mean_squared_error(y_test , y_test_predicted_value))) #this order of parameters should be
                                                           # followed.

In [ ]:
## figuring out R2 score

print("R2 score is : {}".format(model_lr.score(X_test,y_test)))

In [ ]:
# Check Assumptions - Multiple Regression Analysis

In [ ]:
# Linearity

predictions['Residuals']= abs(predictions['Actual']) - abs(predictions['Predicted'])
print("Residual Calculations")
print(predictions.head())

residuals= predictions['Residuals']

#Plotting the Residual VS Fitted values

sns.lmplot(x='Actual', y='Residuals', data=predictions, fit_reg=False)

# Plotting the diagonal line

line_coords=np.arange(predictions.min().min(), predictions.max().max())
plt.plot(line_coords, line_coords, color="darkorange", linestyle="--")
plt.title('Residual VS Fitted')
plt.show()

In [ ]:
# Normality

plt.subplots()
plt.title('Plot of Residuals')
sns.distplot(predictions['Residuals'])
plt.show()

predictions['Residuals'].skew()

In [ ]:
# Homoscedasticity

residuals=predictions['Residuals']

plt.figure(figsize=(5,5))
sns.scatterplot(x = y_test_predicted_value, y = residuals)
plt.xlabel('y_pred/predicted values')
plt.ylabel('Residuals')
p = plt.title('Residuals vs fitted values plot for homoscedasticity check')

In [ ]:
# Goldfeld Quandt Test
# Checking heteroscedasticity : Using Goldfeld Quandt we test for heteroscedasticity.
# Null Hypothesis: Error terms are homoscedastic
# Alternative Hypothesis: Error terms are heteroscedastic.

import statsmodels.stats.api as sms
from statsmodels.compat import lzip
name = ['F statistic', 'p-value']
test = sms.het_goldfeldquandt(residuals, X_test)
lzip(name, test)

#Since p value is greater than 0.05 in Goldfeld Quandt Test.
# Therefore, we do not reject Null hypothesis. Hnece, we Conclude that error terms are homoscedastic.

In [ ]:
# Multicollinearity

plt.figure(figsize=(5,5))
p=sns.heatmap(df1.corr(), annot=True,cmap='RdYlGn',square=True,linewidth= 4)  # seaborn has very simple solution for heatmap

In [ ]:
# Checking for autocorrelation To ensure the absence of autocorrelation we use Ljungbox test.

# Null Hypothesis: Autocorrelation is absent.

# Alternative Hypothesis: Autocorrelation is present.

from statsmodels.stats import diagnostic as diag

#min(diag.acorr_ljungbox(residuals , lags = 40)[1])

result = diag.acorr_ljungbox(residuals, lags=40)
min_value = min(result.iloc[:, 1]) if len(result.columns) > 1 else None
print(min_value)

#Autocorrelation is present

In [ ]:
# Logistic Regression

In [ ]:
y_bin=np.array(df1.Reco_Binary)

In [ ]:
from sklearn.model_selection import train_test_split
X_train_bin, X_test_bin, y_train_bin, y_test_bin = train_test_split(x, y_bin, test_size=0.25, random_state = 21)

In [ ]:
print("Shape of X_train is : ",X_train_bin.shape)
print("Shape of X_test is : ",X_test_bin.shape)
print("Shape of y_train is : ",y_train_bin.shape)
print("Shape of y_test is : ",y_test_bin.shape)

In [ ]:
# Building the Logistic Regression Model

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
logreg = LogisticRegression()
logreg.fit(X_train_bin,y_train_bin)

In [ ]:
#logreg = LogisticRegression(solver ="newton-cg")

logreg.fit(X_train_bin,y_train_bin) # supervised

In [ ]:
y_log_pred=logreg.predict(X_test_bin) # using the model to make predictions on my test data features

In [ ]:
y_log_pred

In [ ]:
from sklearn import metrics

print('Accuracy Score:')
print("The accuracy of the LogReg model : ")
print(metrics.accuracy_score(y_test_bin,y_log_pred)) # The first parameter should always be the actual value
#while the second parameter should be the predicted value

In [ ]:
from sklearn.metrics import classification_report,confusion_matrix

print("The confusion matrix for test data is : ")
print("-----------------------------------------")
print(confusion_matrix(y_test_bin,y_log_pred))# The first parameter should always be the actual value
#while the second parameter should be the predicted value

In [ ]:
print(classification_report(y_test_bin,y_log_pred))

# Session 10: Cluster_Analysis & LDA

In [ ]:
import pandas as pd
df1 = pd.read_csv("default of credit card clients.csv")

In [ ]:
df1.head()

In [ ]:
# K Means Clustering

In [ ]:
from sklearn.cluster import KMeans
from matplotlib import pyplot as plt

In [ ]:
plt.scatter(df1["Spending Score (1-100)"],df1["Annual Income (k$)"])

In [ ]:
X=df1[['Spending Score (1-100)','Annual Income (k$)']].copy()

In [ ]:
X

In [ ]:
wcss=list()
for i in range(1, 11):
    kmeans = KMeans(n_clusters=i, random_state=0)
    kmeans.fit(X)
    y=kmeans.inertia_
    wcss.append(y)

In [ ]:
wcss

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
plt.plot(range(1, 11), wcss)
plt.title('Selecting the Numbeer of Clusters using the Elbow Method')
plt.xlabel('Clusters')
plt.ylabel('WCSS')
plt.show()

In [ ]:
km=KMeans(n_clusters=5)
y_predicted=km.fit_predict(X)

In [ ]:
y_predicted

In [ ]:
df1["cluster"]=y_predicted
df1.head()

In [ ]:
# Dividing data by cluster to color and plot different datapoints in cluster

df11=

plt.scatter(df11["Spending Score (1-100)"],df11["Annual Income (k$)"],color='green')
plt.scatter(df12["Spending Score (1-100)"],df12["Annual Income (k$)"],color='blue')
plt.scatter(df13["Spending Score (1-100)"],df13["Annual Income (k$)"],color='red')
plt.scatter(df14["Spending Score (1-100)"],df14["Annual Income (k$)"],color='yellow')
plt.scatter(df15["Spending Score (1-100)"],df15["Annual Income (k$)"],color='black')

plt.xlabel('Spending Score')
plt.ylabel('Annual Income')

In [ ]:
#Gaussian Mixture Model (GMM)

In [ ]:
from sklearn.mixture import GaussianMixture

In [ ]:
from sklearn.mixture import GaussianMixture
n_clusters = 5
gmm_model = GaussianMixture(n_components=n_clusters)
gmm_model.fit(X)

In [ ]:
cluster_labels = gmm_model.predict(X)
X = pd.DataFrame(X)
X['cluster'] = cluster_labels

In [ ]:
X.head()

In [ ]:
for k in range(0,n_clusters):
    data = X[X["cluster"]==k]
    plt.scatter(data["Annual Income (k$)"],data["Spending Score (1-100)"])
plt.title("Clusters Identified by Guassian Mixture Model")
plt.ylabel("Spending Score (1-100)")
plt.xlabel("Annual Income")
plt.show()

In [ ]:
data

In [ ]:
# Spectral Clustering - Used in case of multi dimentional data [It reduce the dimension in backend and then run clustering in reduced dimention]

In [ ]:
from sklearn.cluster import SpectralClustering

In [ ]:
spectral_cluster_model= SpectralClustering(
    n_clusters=5,
    random_state=25,
    affinity='nearest_neighbors'
)

In [ ]:
X['cluster'] = spectral_cluster_model.fit_predict(X[['Annual Income (k$)', 'Spending Score (1-100)']])

In [ ]:
fig, ax = plt.subplots()
sns.scatterplot(x='Annual Income (k$)', y='Spending Score (1-100)', data=X, hue='cluster', ax=ax)
ax.set(title='Spectral Clustering')

In [ ]:
# Hierarichal Clustering

In [ ]:
from scipy.cluster.hierarchy import linkage, dendrogram

complete_clustering = linkage(X, method="complete", metric="euclidean")
average_clustering = linkage(X, method="average", metric="euclidean")
single_clustering = linkage(X, method="single", metric="euclidean")

In [ ]:
dendrogram(average_clustering)
plt.show()

In [ ]:
# Linear Dicriminant Analysis (LDA)

In [ ]:
from google.colab import files

In [ ]:
uploaded = files.upload()

In [ ]:
import pandas as pd
datafile = pd.read_excel("Data_Regression_Final.xlsx")

In [ ]:
datafile.head()

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [ ]:
X_ind=datafile[['Quick_in_and_out','Fast_Efficient_check_out','Good_Selection_of_brands']].copy()
Y_Dep=datafile["Reco_Binary"].copy()

In [ ]:
correlation_matrix = datafile.corr(numeric_only = True)
plt.figure(figsize=(8, 6))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', linewidths=0.5)
plt.title("Correlation Heatmap")
plt.show()

In [ ]:
# Split the data set into training and testing sets

X_train, X_test, y_train, y_test = train_test_split(X_ind, Y_Dep, test_size=0.2)

In [ ]:
X_train.shape

In [ ]:
# Apply Linear Discriminant Analysis
lda = LinearDiscriminantAnalysis(n_components=1)
X_train = lda.fit_transform(X_train, y_train)
X_test = lda.transform(X_test)

In [ ]:
classifier = RandomForestClassifier(max_depth=2, random_state=0)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

In [ ]:
y_pred

In [ ]:
#Assume 'y_test' and 'y_pred' are already defined
accuracy = accuracy_score(y_test, y_pred)
conf_m = confusion_matrix(y_test, y_pred)

#Display the accuracy
print(f'Accuracy: {accuracy:.2f}')

#Display the confusion matrix as a heatmap
plt.figure(figsize=(6, 6))
sns.heatmap(conf_m, annot=True, fmt="d", cmap="Blues", cbar=False, square=True)
plt.xlabel("Predicted")
plt.ylabel("True")
plt.title("Confusion Matrix")
plt.show()