<a href="https://colab.research.google.com/github/Utkarshmishra2k2/Python-Basics/blob/main/Python_Programming_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import math as mt

1.

Accept a number from user and print its multiplication table using For loop.

In [ ]:
data_01 = int ( input ( "Enter A Number :" ) )
for i in range (1,11):
    multiple = data_01 * i
    print (data_01,"*",i,"=" , multiple)

Enter A Number :14122000
14122000 * 1 = 14122000
14122000 * 2 = 28244000
14122000 * 3 = 42366000
14122000 * 4 = 56488000
14122000 * 5 = 70610000
14122000 * 6 = 84732000
14122000 * 7 = 98854000
14122000 * 8 = 112976000
14122000 * 9 = 127098000
14122000 * 10 = 141220000

2.

Accept a number from user and print its factorial using While loop.

In [ ]:
data_01 = int ( input ( "Enter A Number :" ) )
fact = 1
i = 1
while i<data_01+1:
    fact =  fact *i
    i = i+1

print(fact)

Enter A Number :14122000

3.

Accept a number from user. Pass this number to a function which will test if the number is a multiple of 7 and is divisible by 5.

In [ ]:
def multiple(data_01):
    if data_01 % 7 == 0 & data_01 % 5 ==0:
      print(data_01)
    else:
      print("Reenter")

multiple(215)

4.

Accept a number from user(n). Print the numbers from n to 1 in reverse order by using a recursive function.

In [ ]:
def check(n):
    if (n>0):
        print (n)
        check (n-1)
    else:
        return

data_01 = int ( input ( "Enter A Number :" ) )
check (data_01)

5.

Create a List L with 5 numbers stored in it. Write a loop program which calculates and prints the sum of all the numbers stored in the List.

In [ ]:
data_01 = [14654,541,68418,641,654165]
y = 0
for i in data_01:
    y = y + i

print(y)

6.

Write a program to check if the number given by user exists in a tuple. If it is found then print “Yes, No. Found” else print “ No. Not found”.

In [ ]:
tuple = (54165416,56165,415,114,141474,154,147,454,1457,4,5)
x = int(input("Enter search value:"))
f = "false"
for i in tuple:
    if i == x:
        print("It's Found")
        f = "true"

if (f == "false") :
    print("Not Found")

7.

Given a dictionary get all values from the dictionary and add it in a list but don’t add duplicates.

In [ ]:
data_01 = {  "A" :465 , "B" : 41, "C" : 41 , "D" : 411545 ,"E" : 654165 }
list = []
print("Dictionory Values ",data_01.values())
for i in data_01.values():
    if i not in list:
        list.append(i)

print("List" , list)

8.

Write a Python program to convert temperatures in Celsius to  fahrenheit.
[ Formula : c/5 = f-32/9 [ where c = temperature in celsius and f = temperature in fahrenheit ]

In [ ]:
data_01 = float ( input ( "Enter the Temperature In Degree Celsius : " ) )
F = ( c * 1.8 ) + 32
print ( f." Temprature on Degree Fahrenheit {F}. " )

9.

Accept User name & Password from user. If the user name is “RJC” and Password is 
“student” then print “Login Successful” else print “Login Failed”.

In [ ]:
data_01 = str( input ( "Enter The Lodin Id : " ) )
data_02 = str( input ( "Enter The Password : " ) )
if ( data_01 == "RJC") & (data_02 == "student" ):
    print( "Login Succesfull" )
else:
    print( "Login Failed" )

Enter The Lodin Id : 6
Enter The Password : 5
Login Failed

10.

Create a List having five numbers in it. Find and print the biggest & smallest number of the list.

In [ ]:
list_01 = [54654665,564645,65444,56532,64685]
x = min ( list_01 )
y = max ( list_01 )
print (" Maximum & Minimum from list are {} & {} respectively. ".format ( x , y ))

 Maximum & Minimum from list are 56532 & 54654665 respectively.

11.

Create the following list :
L= [ 12,33,56,78,100] . Accept any number from the user and search its location in the list. If the number is found in the list , print its index number else print message “Number Not Found”.

In [ ]:
list_01 = [ 12,33,56,78,100] 
x = int ( input ( " Enter A Number: " ) )
try:
    y = list_01.index( x )
    print( "Value Found with index value {} ".fromat ( y ) )
except:
    print ( "Value Not Found" )

In [ ]:
list_01 = [ 12,33,56,78,100] 
x = int ( input ( " Enter A Number: " ) )
flag = True
for i in range (0,len( list_01 ) ):
    if ( x == list_01[i] ):
        print( "Value Found with index value {} ".fromat ( i ) )
        flag = False
        break

if flag == True :
    print ( "Value Not Found" )

 Enter A Number: 142
Value Not Found

12.  Write a Python script to print a dictionary where the keys are numbers between 1 and 10 (both included) and the values are square of keys.

In [ ]:
dict_01 = dict()
for i in range (1,11):
    dict_01[i] = i ** 2

for w in dict_01:
    print("{} : {}".format(w,dict_01[w]))

1 : 1
2 : 4
3 : 9
4 : 16
5 : 25
6 : 36
7 : 49
8 : 64
9 : 81
10 : 100

13.

Create the following dictionary:
Dict= { “Roll” : 11 , “Name”:”ABC”, “sub1”:89, “sub2”:90}
Print the output as :
Roll     11
Name    ABC
Sub1     89
Sub2    90
Total    179

In [ ]:
dict_01 = { "Roll" : 11 , "Name":"ABC", "sub1":89, "sub2":90 }
total = dict_01["sub1"] + dict_01["sub2"]
for w in dict_01:
    print("{} : {}".format(w,dict_01[w]))
print("Total : {}".format(total))

Roll : 11
Name : ABC
sub1 : 89
sub2 : 90
Total : 179

14.

Write a python function to accept 3 parameters and print the smallest number.

In [ ]:
def campare( a,b,c):
    x = min(a,b,c)
    y = max(a,b,c)
    print ("Minimum value and Maximum value are {} & {} respectively .".format(x,y))

campare(53546,6487/97,45)

Minimum value and Maximum value are 45 & 53546 respectively .

15.

Write a python function to accept a number as parameter and print its factorial.

In [ ]:
data_01 = float ( input ( "Enter the Number : " ) )
fact = mt.factorial( data_01 )
print("Factorial of {} is {} .".format(data_01,fact))

Enter the Number : 3365
Factorial of 3365.0 is 116524520260992409791117634510766253445737261423606872449466304647486497471718984927257955705194881758411811040806645191524998666532883271894512752313335032010118232972519373327396711512746997544443648899629924447746362169837678688112221026241542896294569235246787682484128365988231603966914239653156405188222167660679345233753444856930135271053518258331928644610504703352391118404802752879516716298028199711634898353950222178231800434568685665306426466205521776312031792035938382237365526136955946606468150773331119126378319438920633331391045632751992859567986095069638139367339752931952827325344001305987789758224584716106635997303435171641132647135224655147440369423216649698722939667511282635523402770197532901743184824323372801657360595357831545161510193887182010868065416737097607250879627935187515860801736369148186453019015408115323731822585585694523560552529275184837574236291349790091528195079279644122400222158883715844963130522806786925042382404344249141722254469979953661590268394138161772090077131157966449989119380703395890057050667226764020155609359093457305962374852587776989958579953143234432561179659882698548941509627293471797220977878667320234786090343204463728952112331873786398236953438074561198823733439628835717240248620804080164020767038525085378369905216011139378384068304378713761652343333078789165752780956714454900163294440243495370954967014800554762570659450894670183256241852816101437576820544000541882871228570382830637640546223709892032572454434476809094689669773757536999637397849668898109250295687173996447935390131503360216053552108694719093150281895987212991260677902035730908018294973735557048006324219898994541974323123560649742257302824229728368833937097640349631945590685147121239806387528729384638152164458572996564896207339440641843850695848708535233018309739127421421440028153912796066820547235575361356784597371507656439922487133585612358623995105214862503962852754430998110937965279838033136878786021692683826589707105346356128788936710975265917635668184695078398372653672814472303928673681610168350407342220272097610309589161757839760905409962989374814032179190336500246333402233227039015475024660829246311368290567847806476148294659242888596116253151802158093278723848376936209419135865699217611221337209135962247038964915037812686449858160620188301207326206648479668257837193878237525750668902481789190418726818276491088076703989697342893683036871387823069572616424074022062015850296402182815324186231627825255844450301996345320828025930134089203157586374950429717879114763565354792518557716516681344910697379191780123739616459654928612188783416753177958994748200785815838883509661505663928811505168634842048121462880540629026455069965069409529940274318542368496169177613107433308444516026785722818533852236440491552147225514343180165458717734118320786171235804620379271648266766541405172245528025014349953063515112465978287484802931336538571300226147148532556264448041478643017408722328655761200867459757751688058250622193456647039581103571609204969228765126769453855020760629635401467606549719744920273394386339263532531556627536701277726922822149892852959470825654115893534766077153793067922929823530630388114588503326136872119244740472359430211219265131813534699858060192553117651114038795635697186155705943833723509494713983188711167838610583590659427886097832667049918599279018308361170709501961325446730058146544860760439090621950214086274774787484044527510860043649660406879834464358307940859512664776333515775270797245996584020839099236431221492303101924605014100177380725471834749539968448530732544966653874769866174936168428971049427917963874536013982033598676536152986019989990765906797064020841671788310976189131923521473126913455341539381521613941746963356282306834610100789764320380218761198639441489848837733744195351824246137705095532445050779682523403898638786920454020654041619855676768970056023233585393074789172011894897740845084002567531456185042468189949160830417106748613060942108489408810982724192148972501347550351848431339864591064342023315480467508855448980610442564558257944153524891577512251765013363936047328221186226234908363001950598570209660502877080615317304995455309465753141521679937150170623683327678581850283714098121267425309092605803645925521992230994171824355858315173816575107970970263028307278209712417504403748843717992010452116880036814825054458619455077624036847803613043001608789928278073667566682374222118995374758451775552358365686593188866588740605625133507955818752519172621066369253185040834261155871551288564028756841474074512725348839850859267755758735910356272841362871711089576039970509844432681530941585307773258829393333917968606120213868825633907878735821279109705463844905907438959873311767686166793169068940606305893851125456655184363479246040573674688867909446990435181892424387909632675042676918034477162943478303094255531290903253537034404965002566364639593981635954737099910497658712324840495464038942369808434681345101548627591259371630962839586218471129443848143501749925034260093717096972201005190753965907987351035993162334862094231623479518205100040336721426106317003337779274571040995743620617344932646622315925293905932430731955208043776041996938178738632394933619997756306575156563042584902652771830204574584098959878393643781102278283797104956727593749677699524424143966730446443951245052653593651862869381258810808961168372518253255473591319931812448854107866016666447141185199642487925399369426110906129665176914211211902743543116300246522666981198203861216302839348727293919474050899055294857634124459933259870762813028402861164114240619202914896571913046889145907640625767308251772368126520144031745136546598175113590447688128187218185308970713906844389825651186903989227357053148446212792160768769925766803977368608246437653250604175625437440413186868371646590919985897655788058926965631937277021446006040705878627554173937369676516287156094957165545065058438078536946156916174795265942092851115150003182060629380449850404715099407362673163501935496700323490064321939671461999761527307780982856958133698328003482863655300587995874206345407563020134677769023912936889053005883653852412112680337649920383597371674510192282993138434647549964339641648596297272284741638336071237612442389759512157652722722772698703677047938003060707725660420880475085742279059093320520456174903143226762453228597667898044489507693465277501061536185251119222339035552789871747626988829955082650708400069634645004565276789299362449752557657429347768026183790663394005868783732376752437752926318472168769465685343107534193315345687154339420816946118296818137860186323955046000092737414845176657573515041783019133509603593080823843043703793546693767802926714774373159490393156378967038431885389007965951026713715790625618833314162572180909707407721217169373293000650349881973403710103970068668372512519310580737075326632550442212016303303144638918514783650874672108595327252962161742911970811234293546359333276714646719769442302784272503460318423500060693090836484368486907855628252325360733929341830313674951001624383107623017647914126323524515067367401253986513452310881912349170136148256987472240047108899264603143061621909235609756241787973968732662989683257551463055400936246194873382430081716532708559633325835746173118097906700052291586422445111694916611977310063058529104627548088834381935555392629285415592361079882338818997445231683618222539545716237273452352103036545045188449679026041210693814253247029980326135568150556642152135107645055752895441743958359730809091525728927265320199023008434167087787302274435190118687266735435108237483756803486944889011226381737646062610339111240155399688531305854537844595334771784847402495488331601020751362037323576723815975925873308455719419767057782017450267208689226057021097928489975637653990082525960895453041698422471428084877166626580847956750977422755837373462514548449388817141512697883211852595441336780925528935567974838779517369586847691385635927656025922803721053365869516325427451350870650438492906871541437721554532357643334128386405409257438416991006598920386781509262965302863540432184992716172190760513062622900091348858671866143038941708004347511108978094236765216629571436305969455500045805021327220564215123590972855652120085217948497754837638034916679252783275102552725918841952471266053523361174255453555023639268130743996938260766408968740171590089350650479956241232567704877612156760052153903516870684391268433623412684852330565322448582634036116607506403765925350951554930517619427579555320806651448105259842375290307042295374909578165278731236397323141221379037334317975877305357153285234805501564362548907183836930779059802859246156454553077017133341370637391280303385627449235268344474650001806112649945614939457065574521038521649871677959728609549222721313519694541251133775952105513367899320600294422938547343511983718808582303795875559080314522384511949776818785952722500446873708889713920675045788030556955831608622453205289273263479115713181762842603029493469794740814492274345719004927798248170075790936832952176687670229999576602058411685790439693993108090950560529061265327094968800319326926962481899337760527814636519725538503670788005566321488912005835147738424212069606108409163440600331607218369434200894741499760841772164590589449270190286898801428116729363018410310175221070235923022074428363854373434610305506571679000692877204526723556532151610145547599790475259039235385748594283106407573667069042168474719313653641287703368790295566337897783453404430667801800626071432985705563194446734512073373172015641588641588210975593243170213498478551885087459539853728090895155200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 .

In [ ]:
num_01 = float( input( "Please Enter A Number :" ) )
num_02 = float( input( "Please Enter A Number :" ) )
num_03 = float( input( "Please Enter A Number :" ) )

print( "Sum = " , num_01 + num_02 + num_03 )
print( "Subtraction = " , num_01 - num_02 - num_03 )
print( "Multiplication = " , num_01 * num_02 * num_03 )
print( "Division = " , num_01 /  num_03 )

Please Enter A Number :14125
Please Enter A Number :1256562
Please Enter A Number :1535315
Sum =  2806002.0
Subtraction =  -2777752.0
Multiplication =  2.725021112929875e+16
Division =  0.00920006643587798